@import '../../styles/variables';
@import '../../styles/animation';

.wrapper--idea {
	position: relative;
	padding-bottom: 25px;
	height: calc(100% - 90px);

	@include tabletBig {
		height: auto;
		padding-bottom: 45px;
	}
}

// underline link effect
.nav-link--underline {
	z-index: unset;
	&::after {
		z-index: unset;
	}

	&:hover {
		cursor: default;

		@include mobile {
			cursor: pointer;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 2px;
		background-color: $blue-main;
		transition: transform 0.4s ease;
		transform: scale(0, 1);
		z-index: 2;
	}

	&:hover::after {
		transform: scale(0, 1);
		height: 2px;
	}

	&:hover::before {
		transform: scale(1, 1);
	}
}

.idea-contacts {
	position: relative;
	display: inline-block;
	margin: auto auto 0;
	width: max-content;

	@include tabletBig {
		margin-top: 25px;
	}

	&__list {
		user-select: text;
		position: absolute;
		bottom: 44px;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0px 4px 10px rgba($color: $black, $alpha: 0.6);
		border-radius: 10px;
		background-color: rgba($color: $black, $alpha: 0.9);
		color: $textGrey;
		font-size: 14px;
		display: inline-block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		transition: 0.4s;
		width: max-content;
		z-index: 1;

		@include mobile {
			font-size: 15px;
		}

		&-items {
			padding: 20px 25px;
		}

		p {
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: $blue-main;
			transition: color 0.3s;

			&:hover {
				color: $starYellow;
			}
		}
	}

	&.show {
		.idea-contacts__list {
			visibility: visible;

			&::after {
				transform: translate(-50%, 0) scale(1, 1);
			}
		}

		.nav-link--underline {
			&:after {
				transform: scale(0, 1);
				height: 2px;
			}

			&:before {
				transform: scale(1, 1);
			}
		}
	}
}

.slider-with-btn {
	display: flex;
	width: 100%;

	@include tabletBig {
		margin-left: -40px;
		width: calc(100% + 80px);
	}

	@include mobile {
		margin-left: -15px;
		width: calc(100% + 30px);
	}
}

.idea-section {
	background: $darker;
	padding: 0 40px 35px;
	display: flex;
	position: relative;
	box-shadow: 0 0 20px rgba($color: $black, $alpha: 0.8);
	height: 100%;
	max-height: 100%;

	@include tabletBig {
		max-height: none;
		height: auto;
		flex-direction: column-reverse;
		max-width: 777px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 45px;
	}

	@include mobile {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.idea-info {
	height: 100%;
	width: calc(50% + 2px);
	margin-right: 40px;
	padding-top: 40px;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;

	@include tabletBig {
		height: auto;
		width: 100%;
		margin-right: 0;
		flex-shrink: unset;
		overflow: visible;
	}
}

.copy-tablet {
	text-align: center;
}

.idea-copy {
	display: inline-block;
	font-size: 12px;
	position: absolute;
	top: 3px;
	left: 0;
	color: $textGrey;

	@include tabletBig {
		position: static;
		margin-top: 35px;
	}

	p {
		overflow: hidden;
		border-right: 1.5px solid $blue-main;
		white-space: nowrap;
		width: 0;
		animation: typing 2.5s steps(18, end) 2s forwards, blink-caret 1s step-end infinite;
	}

	span {
		font-size: 15px;
	}
}

.idea-tabs {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	box-shadow: -5px 5px 15px rgba($color: $black, $alpha: 0.6);
	display: flex;

	@include tabletBig {
		right: 50%;
		transform: translateX(50%);
		box-shadow: 0 4px 15px rgba($color: $black, $alpha: 0.6);
	}

	&__btn {
		flex-shrink: 0;
		background: $black;
		color: $snow;
		padding: 4px 20px;
		text-transform: uppercase;

		@include tabletBig {
			padding: 6px 25px;
		}

		&.active {
			background: $blue-main;
			font-weight: bold;
		}
	}
}

.idea-block {
	line-height: 1.4;
	font-size: 17px;
	letter-spacing: 0;
	color: $textGrey;
	margin-bottom: 35px;

	@include mobile {
		font-size: 16px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.h2 {
		color: $blue-main;
		font-size: 24px;
		line-height: normal;
		font-family: $ui-medium;
		font-weight: 600;
		margin-bottom: 15px;
		letter-spacing: 2px;
	}

	.h3 {
		font-size: 18px;
		font-family: $ui-medium;
		font-weight: 600;
		color: $titlePink;
		margin: 25px 0 10px;
		letter-spacing: 1px;
	}

	&__text {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 10px;
		position: relative;
		display: flex;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: '';
			display: inline-block;
			flex-shrink: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $titlePink;
			margin-right: 11px;
			margin-top: 11px;
		}
	}
}

.startup-title {
	text-align: center;
	font-size: 31px;
	letter-spacing: 8px;
	font-family: $lg-bold;
	margin-bottom: 30px;

	@include tabletBig {
		margin-top: 20px;
	}

	@media screen and (max-width: 340px) {
		letter-spacing: 7px;
	}
}

.last-words {
	line-height: normal;
	text-align: right;
	font-style: italic;
	margin-top: 45px;
	font-size: 14px;
	white-space: pre-line;

	span {
		display: block;
	}

	@include tabletBig {
		margin-bottom: 0;
	}
}

// Slider default style
.slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 40px;

	@include tabletBig {
		margin-top: 0;
	}
}

.slider-js {
	width: 100%;
	display: flex;
	height: 400px;
	transition: transform 0.4s ease-in;
	position: relative;
	overflow: hidden;
	pointer-events: none;
	box-shadow: 0px 0px 15px rgba($color: $black, $alpha: 0.8);

	@include tabletBig {
		height: 300px;
	}

	@include tabletSmall {
		height: 205px;
	}
}

.slider-item-js {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	color: $textGrey;

	img {
		object-fit: cover;
		opacity: 0;
		transform: scale(1.3);
		transition: transform 0.4s ease-out, opacity 0.4s ease;
	}

	&[data-active='true'] {
		img {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.slides-number {
	font-size: 12px;
	position: absolute;
	top: 17px;
	right: 15px;
	color: $blue-main;
	font-weight: bold;
}

.slider-actions {
	position: relative;
	text-align: right;
	padding: 5px;
	margin-top: 20px;

	@include tabletBig {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
	}
}

.slider-btn-js {
	padding: 11px;
	margin-top: -10px;
	margin-right: -10px;

	@include tabletBig {
		padding: 14px;
		margin: 0;
		background: $black;
		border-radius: 50%;
	}

	&::before {
		content: '';
		display: block;
		width: 15px;
		height: 15px;
		border: 2px solid $blue-main;
		border-width: 2px 2px 0 0;
		opacity: 0.5;

		@include tabletBig {
			width: 9px;
			height: 9px;
			opacity: 1;
		}
	}

	&:hover::before {
		opacity: 1;
	}

	&-next {
		&::before {
			transform: rotate(45deg);
			@include tabletBig {
				transform: rotate(45deg) translate(-1px, 1px);
			}
		}
	}

	&-prev {
		margin-right: 20px;

		@include tabletBig {
			margin-right: 10px;
		}
		&::before {
			transform: rotate(-135deg);
			@include tabletBig {
				transform: rotate(-135deg) translate(-1px, 1px);
			}
		}
	}
}

@media screen and (min-width: 1281px) {
	// scrollbar styles
	[data-simplebar] {
		position: relative;
		padding-right: 30px;
		z-index: 0;

		@include tabletBig {
			padding-right: 0;
		}
	}

	.simplebar-wrapper {
		overflow: hidden;
	}

	.simplebar-mask {
		direction: inherit;
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: auto !important;
		height: auto !important;
		z-index: 0;
	}

	.simplebar-offset {
		direction: inherit !important;
		box-sizing: inherit !important;
		resize: none !important;
		position: absolute;
		top: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		-webkit-overflow-scrolling: touch;
	}

	.simplebar-content-wrapper {
		direction: inherit;
		box-sizing: border-box !important;
		position: relative;
		display: block;
		height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
		width: auto;
		max-width: 100%; /* Not required for horizontal scroll to trigger */
		max-height: 100%; /* Needed for vertical scroll to trigger */
		overflow: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
			width: 0;
		}
	}

	.simplebar-track {
		z-index: 1;
		position: absolute;
		right: 0;
		bottom: 0;
		cursor: pointer;
		overflow: hidden;
	}

	.simplebar-scrollbar {
		position: absolute;
		left: 0;
		right: 0;
		min-height: 10px;
	}

	.simplebar-scrollbar:before {
		content: '';
		background: $blue-main;
		border-radius: 10px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.simplebar-track.simplebar-vertical {
		top: 0;
		width: 6px;
		border-radius: 10px;
		background: $darkest;
	}
}
