# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Compiled files
dist/

# Dependency directories
lib/
vendor/
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/local.properties
android/.idea/
android/build/
android/captures/
android/app/build/
android/gradle/

# IDE files
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3
*.db

# Compiled Python files
__pycache__/
*.pyc

# Compiled Ruby files
*.gem
*.rbc
/.config
database.yml

# Environment
.env

# Webpack
node_modules/
public/
.cache/
stats.json

# Misk
*.directory