#root,
#__next {
	isolation: isolate;
}

// Scrollbar styles
$scrollbar-bg: transparent;
$scrollbar-thumb: rgba(#fff, 0.2);
$scrollbar-thumb-hover: rgba(#1779bb, 0.4);
$scrollbar-radius: 10px;
$scrollbar-width: 4px;
$scrollbar-mob-width: 1px;

.page-container,
.mobile-menu__content,
.idea-tabs,
.table-content__inner {
	// Firefox (and some other Gecko-based browsers)
	@supports (-moz-appearance: none) {
		scrollbar-width: thin;
		scrollbar-color: $scrollbar-thumb $scrollbar-bg;
	}

	// WebKit (Chrome, Safari, Edge, iOS)
	&::-webkit-scrollbar {
		width: $scrollbar-width;
		height: $scrollbar-width;

		@include tabletBig {
			width: $scrollbar-mob-width;
			height: $scrollbar-mob-width;
		}
	}

	&::-webkit-scrollbar-track {
		border-radius: $scrollbar-radius;
		background: $scrollbar-bg;
	}

	&::-webkit-scrollbar-thumb {
		background: $scrollbar-thumb;
		border-radius: $scrollbar-radius;

		&:hover {
			background-color: $scrollbar-thumb-hover;
		}
	}
}

body {
	color: $snow;
	background-color: $darken;
	font-family: $font-primary;

	@include tablet {
		height: 100dvh;
	}
}

button {
	color: $snow;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	width: 100%;
	height: auto;
}

.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	padding: 0 40px;

	@include mobile {
		padding: 0 15px;
	}
}

.page-container {
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable;
	height: 100%;
}

.h1 {
	letter-spacing: 8px;
	font-family: $LouisGeorgeCafBold;

	@include mobile {
		letter-spacing: 5px;
	}
}

.base-title {
	font-size: 41px;
	font-size: clamp(38px, 2.8vw, 70px);
	margin-top: 70px;
	white-space: nowrap;

	@include mobile {
		margin-top: 35px;
	}

	@include mobileSmall {
		font-size: 35px;
	}
}

.tag-color {
	color: $blue-main;
}

.pos-abs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page.slide-enter .markdown-loading .preloader,
.page.slide-enter .slider-loader .preloader,
.page.slide-enter .header,
.page.slide-enter .idea-lang,
.page.slide-enter .lang-sidebar,
.page.slide-enter .startup-action,
.page.slide-enter .idea-block__more,
.page.slide-enter .table-content,
.page.slide-enter .table-content__btn,
.page.slide-enter .project-description,
.page.slide-enter .idea-back,
.page.slide-enter .about-item .ball {
	z-index: 0;
}

.page:first-of-type:has(+ .page) .startup-action {
	z-index: 0;
}

.logo-link.active,
.nav-link.active,
.idea-tabs__btn.active,
.page.slide-exit .idea-tabs__btn,
.page.slide-exit .nav-link,
.page.slide-exit .logo-link {
	pointer-events: none;
}

.logo,
.mobile-menu-btn,
.ball {
	cursor: pointer;
}
