body {
	text-rendering: optimizeLegibility;
	color: $snow;
	background: $darken;
	width: 100%;
	font: 16px/1.3 $ui;
	letter-spacing: 1px;
	user-select: none;
	overflow: hidden;

	@include tabletSmall {
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
	}
}

::-webkit-scrollbar {
	width: 4px;

	@include tabletSmall {
		width: 1px;
	}
}

::-webkit-scrollbar-track {
	background: $darkest;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: $blue-main;
	border-radius: 10px;
}

.a {
	color: $snow;
	padding: 0.75rem 1rem;
}
img {
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	padding: 0 4%;
}

.page-container {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	scrollbar-width: thin;
	scrollbar-color: $blue-main $darkest;

	.wrapper-container {
		padding-bottom: 60px;
		@include tabletSmall {
			padding-bottom: 10px;
		}
	}
}

.base-title {
	font-size: calc(24px + 2.5vw);
	letter-spacing: 10px;
	padding: 2rem 0 1rem;
	font-family: $lg-bold;
	line-height: normal;

	@media screen and (max-width: 1600px) {
		font-size: calc(24px + 1.6vw);
	}

	@include tabletSmall {
		font-size: calc(24px + 2.5vw);
		padding-top: 1rem;
		letter-spacing: 6px;
	}

	&--main {
		font-size: 48px;

		@media screen and (max-width: 1366px) {
			font-size: 37px;
		}

		@include mobile {
			font-size: 33px;
		}
	}
}
.tag-color {
	color: $blue-main;
}
.d-flex-c-b {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.d-flex-c-c {
	display: flex;
	align-items: center;
	justify-content: center;
}
.d-flex-c {
	display: flex;
	align-items: center;
}
.d-flex {
	display: flex;
}
.pos-abs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.page.slide-enter .header,
.page.slide-enter .gallery-container button.nav-link,
.page.slide-enter .about-item .ball {
	z-index: 0;
}
.logo-link.active,
.nav-link.active,
.page.slide-exit .nav-link,
.page.slide-exit .logo-link {
	pointer-events: none;
}
.logo,
.nav-item,
.mobile-menu-btn,
.ball,
.project {
	cursor: pointer;
}
