$deep-shd: #060412;

// CSS VARS
:root {
	--box-shd-main:
		0 1px 4px #{rgba(#000000, 0.2)}, 0 4px 18px #{rgba(#000000, 0.08)},
		0 6px 30px #{rgba($deep-shd, 0.26)};

	--box-shd-main-mobile:
		0 1px 4px #{rgba(#000000, 0.2)}, 0 3px 10px #{rgba(#000000, 0.1)},
		0 4px 12px #{rgba($deep-shd, 0.5)};

	--startup-nav-rad: 10px;

	--startup-nav-posX: 79px;
	--startup-nav-posY: 25px;

	// RESPONSIVE VARS
	@include tabletBig {
		--startup-nav-rad: 8px;
	}

	@include tablet {
		--box-shd-main:
			0 1px 4px #{rgba(#000000, 0.26)}, 0 3px 12px #{rgba(#000000, 0.12)},
			0 4px 18px #{rgba($deep-shd, 0.46)};
	}

	@include tabletSmall {
		--startup-nav-posX: 39px;
		--startup-nav-posY: 14px;
	}

	@include mobile {
		--startup-nav-posX: 14px;
	}
}
