$ui: 'Segoe UI', sans-serif;
$ui-medium: 'Segoe UI Medium', sans-serif;
$lg: 'Louis George Caf', sans-serif;
$lg-bold: 'Louis George Caf Bold', sans-serif;
$indie: 'Indie Flower', cursive;
$cs: 'Coming Soon', cursive;

$black: #000000;
$darken: #202020;
$darker: #191919;
$darkest: #111111;
// $colors: #9400ff #37ff8b;
$blue-main: #005cb3;
$snow: #ffffff;
$red: #af0303;
$black: #000000;
$titlePink: #d5b7b7;
$textGrey: #bdbdbd;
$starYellow: #e3b716;

@mixin fullHD {
	@media screen and (max-width: 2020px) {
		@content;
	}
}
@mixin heightTop {
	@media screen and (min-width: 769px) and (max-height: 882px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 1440px) {
		@content;
	}
}

@mixin tabletBig {
	@media screen and (max-width: 1280px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width: 1024px) {
		@content;
	}
}
@mixin tabletSmall {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: 720px) {
		@content;
	}
}

@mixin mobileSmall {
	@media screen and (max-width: 361px) {
		@content;
	}
}
