@import './responsive';

// Fonts
$font-primary: 'BlinkMacSystemFont', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$LouisGeorgeCaf: 'Louis George Caf', 'Raleway', sans-serif;
$LouisGeorgeCafBold: 'Louis George Caf Bold', 'Raleway', sans-serif;
$IndieFlower: 'Indie Flower', cursive;
$ComingSoon: 'Coming Soon', cursive;

$transition-s: 0.2s;
$transition-l: 0.3s;

// Colors
$blue-light: #1fa9ff;
$blue-main: #0074ff;
$blue-deep: #00488b;
$blue-darkest: #001a3a;

$bg-main: #202020;
$bg-darker: #1a1a1a;
$bg-darkest: #101010;

$body-color: #e7e7e7;
$light-color: #f3f3f3;

$subtitle-color: #879494;
$h1-color: #f6b96f;
$h2-color: #82aad0;
$h3-color: #dab1ab;

$text-color: #dadada;
$link-color: #55aadd;
$bold-color: $body-color;

$nav-title: #7f8fa4;
$toc-color: mix(#ffffff, $nav-title, 26%);

// Borders
$bdr-color-main: mix(#ffffff, $bg-main, 4.5%);
$bdr-color-darkest: mix(#ffffff, $bg-darkest, 12%);

$bdr-main: 1px solid $bdr-color-main;
$bdr-darkest: 1px solid $bdr-color-darkest;

$box-shadow-main:
	inset 10px 15px 35px $blue-deep,
	inset -15px -15px 35px $blue-main;

// Text Container
$section-width: 920px;

$transition-gradient:
	radial-gradient(ellipse at 80% 80%, rgba($blue-light, 0.3) 0%, transparent 50%),
	linear-gradient(130deg, $blue-deep 0%, $blue-main 100%);

// Reusable variables
@import './vars-css';
@import './reusable';
