@import './preloader.scss';
@import '../assets/fonts/fonts';
@import '../styles/reset';
@import '../styles/variables';
@import '../styles/base';
@import '../styles/animation';

$start-height: 20px;

@keyframes transitionReload {
	0% {
		width: 0;
		height: $start-height;
		bottom: 0;
	}
	30% {
		width: 100%;
		height: $start-height;
		bottom: 0;
	}
	70% {
		width: 100%;
		height: 100%;
		bottom: 0;
	}
	100% {
		width: 100%;
		height: 100%;
		bottom: 100%;
	}
}

body.is-locked {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

// .has-overflow {
// 	position: relative;
// 	height: 100svh;
// 	overflow: hidden;

// 	body {
// overflow: auto;
// height: 100%;
// 	}
// }

.application {
	min-width: 320px;

	&:has(.slide-enter) {
		pointer-events: none;
		touch-action: none;
	}
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100dvh;
	background-color: $bg-main;
	opacity: 1;
	transition: opacity 0.2s linear calc(var(--next-page-ratio) - 0.1s);

	&:after {
		content: '';
		display: block;
		transform: translateX(-50%);
		position: fixed;
		width: 0;
		height: $start-height;
		bottom: 0;
		left: 50%;
		z-index: 1000;
		background-color: $blue-main;
		background: $bg-gradient;
		will-change: width, height, bottom;
		overflow: hidden;

		// Debugging styles
		// width: 100%;
		// height: 90%;
	}

	// &[class*='active'] {
	// }

	&.slide-exit {
		padding-bottom: 500px;
		opacity: 0;
	}

	&.slide-enter {
		&:after {
			animation: transitionReload var(--next-page-time) cubic-bezier(0.76, 0, 0.24, 1) forwards;
		}
	}
}

.resume {
	position: relative;
	z-index: 0;

	&.is-loaded .resume__frame {
		opacity: 1;
	}

	.wrapper {
		height: calc(100dvh - 90px);
		padding: 65px 40px 0;

		@include tablet {
			height: calc(100dvh - 80px);
			padding: 65px 0 0;
		}
	}

	// .resume__wrapper
	&__wrapper {
		position: relative;
		height: 100%;
		background-color: #313131;
		box-shadow: 0 0 20px #000000;
		border-radius: 20px 20px 0 0;
		border: 1px solid #61676d;
		border-bottom: 0;
		padding-top: 15px;
		-webkit-overflow-scrolling: touch;
	}

	.preloader {
		position: absolute;
		z-index: 12;
		border-radius: 20px;

		&__spinner-span:before {
			background-color: $blue-main;
		}
	}

	// .cv-page__frame
	&__frame {
		display: block;
		opacity: 0;
		transition: opacity 0.25s;
		height: 100%;
		width: 100%;
	}

	// .resume__actions
	&__actions {
		position: absolute;
		top: 16px;
		left: 50%;
		transform: translateX(-50%);
		font-family: $LouisGeorgeCafBold;
		z-index: 10;
		letter-spacing: 1px;
		white-space: nowrap;
		display: flex;
		align-items: center;

		span {
			display: inline-block;
			margin-right: 18px;
			text-transform: uppercase;
			font-size: 17px;
			line-height: 1;
		}
	}

	// .resume__download
	&__download {
		background-color: #000000;
		background: $bg-gradient;
		padding: 6px 17px;
		box-shadow: 0 0 5px #000000;

		&:hover {
			background: #ffffff;
			color: #000000;
		}
	}
}
