@import '../assets/fonts/fonts';
@import '../styles/reset';
@import '../styles/variables';
@import '../styles/base';
@import '../styles/animation';

.page {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: $darken;

	@include tablet {
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
	}

	&.slide-exit {
		transform: translateY(-100%);
		transition: 0.1s linear;
		transition-delay: 1.056s;
	}

	&:after {
		content: '';
		display: block;
		background: $blue-main;
		width: 0;
		height: 12px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateZ(5px);
		z-index: 100;
	}

	&.slide-enter:after {
		animation: transitionReload 1.6s ease;
	}
}
