@import './preloader.scss';

@import '../assets/fonts/fonts';
@import '../styles/reset';
@import '../styles/variables';
@import '../styles/base';
@import '../styles/animation';

// The same time as for CSSTransition timeout={}
$nextPageTime: 1.5s;

@keyframes transitionReload {
	0% {
		width: 0;
		height: 15px;
		bottom: 0;
	}
	33% {
		width: 100%;
		height: 15px;
		bottom: 0;
	}
	66% {
		width: 100%;
		height: 100%;
		bottom: 0;
	}
	100% {
		bottom: 100%;
		width: 100%;
		height: 0;
	}
}

.page {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: $darken;

	@include tablet {
		/* Fallback for browsers that do not support Custom Properties */
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
	}

	&:after {
		content: '';
		display: block;
		background: $blue-main;
		width: 0;
		height: 15px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateZ(5px);
		z-index: 1000;
	}

	&.slide-exit {
		opacity: 0;
		visibility: hidden;
		transition-duration: 0s;
		transition-delay: calc(66 * $nextPageTime / 100);
	}

	&.slide-enter:after {
		animation: transitionReload $nextPageTime ease;
	}
}
