// CV PAGE
.resume {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100dvh;
	transition: height 0.2s;

	&.is-loaded .resume__frame {
		opacity: 1;
	}

	// .resume__actions
	&__actions {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 20;
		background-color: #000000;
		border-bottom: 2px solid #4e5d69;
		box-shadow: 0 2px 12px #000000;
		padding: 8px 15px 7px;
		gap: 20px;
		font-family: $LouisGeorgeCafBold;
		letter-spacing: 1px;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		@include mobileSmall {
			gap: 15px;
		}

		// h1 {
		// 	display: inline-block;
		// 	text-transform: uppercase;
		// 	font-size: 20px;
		// 	line-height: 1;
		// 	margin-bottom: -1px;
		// }
	}

	// .resume__btn
	&__btn {
		background-color: $blue-main;
		background: $bg-gradient;
		padding: 7px 15px;
		box-shadow: 0 0 4px $blue-main;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		max-width: 140px;
		width: 100%;

		&:hover {
			background: #ffffff;
			color: #000000;
		}

		svg {
			width: 19px;
			height: 19px;
			fill: currentColor;
			margin-right: 10px;
			flex-shrink: 0;
		}
	}

	.preloader {
		position: absolute;
		z-index: 15;

		&__spinner-span:before {
			background-color: $blue-main;
		}
	}

	// .resume__frame
	&__frame {
		padding-top: 52px;
		display: block;
		width: 100%;
		height: 100%;
		flex-grow: 1;
		border: none;
		background-color: #1e1e1e;
		opacity: 0;
		transition:
			opacity 0.3s,
			height 0.2s;
	}
}
