@import '../../styles/variables';

.home-wrapper {
	min-height: calc(100% - 90px);
	height: auto;

	@include tablet {
		min-height: calc(100% - 80px);
	}

	@include tabletSmall {
		flex-direction: column;
		justify-content: space-between;
	}

	.base-title {
		line-height: 1.6;
		padding: 0;
		margin-bottom: 3rem;

		@include tabletSmall {
			margin-bottom: 30px;
			font-size: 37px;
		}

		@include mobile {
			span {
				display: block;
			}
		}
	}
}

.name-container {
	align-self: center;
	margin-bottom: 125px;
	width: 40%;

	@media screen and (max-width: 1366px) {
		margin-bottom: 40px;
	}

	@include tabletSmall {
		width: 100%;
		margin-bottom: 0;
		margin-top: 20px;
	}

	.tag-color {
		font-size: 25px;
		margin-bottom: 3rem;
		font-family: $LouisGeorgeCaf;
		letter-spacing: 3px;
		white-space: nowrap;

		@media screen and (min-width: 2000px) {
			font-size: calc(21px + 0.6vw);
		}

		@include tabletSmall {
			margin-bottom: 35px;
			font-size: 23px;
		}
	}
}

// Photo drawing | drawCanvas |
.photoContainer,
.drawCanvas,
.illustrationImage,
canvas {
	width: 100%;
}

.photoContainer {
	margin: 0 auto;
	overflow: hidden;
	align-self: flex-end;

	@include fullHD {
		width: 60%;
	}

	@include heightTopMax {
		width: 59%;
	}

	@include heightTopMid {
		width: 57%;
	}

	@include heightTopMin {
		width: 52%;
	}

	@include heightTopMinMax {
		width: 48%;
	}

	@include tabletSmall {
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-top: 30px;
	}
}

.drawCanvas {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	max-height: 785px;
	padding-bottom: 80%;
	position: relative;

	.illustrationImage {
		display: none;
	}

	canvas,
	.illustrationImage {
		position: absolute;
		top: 0;
		left: 0;
	}
}
