@import '../../styles/variables';

.home-wrapper {
	display: flex;
	min-height: calc(100dvh - 90px);
	overflow: visible;

	@include tablet {
		min-height: calc(100dvh - 80px);
	}

	@include tabletSmall {
		overflow: hidden;
		flex-direction: column;
		justify-content: space-between;
	}
}

.name-container {
	align-self: center;
	margin-bottom: 125px;
	width: 40%;

	@media screen and (max-width: 1366px) {
		margin-bottom: 70px;
	}

	@include tablet {
		margin-bottom: 40px;
	}

	@include tabletSmall {
		width: 100%;
		margin-top: 35px;
	}

	// .name-container__title
	&__title {
		font-size: 80px;
		font-size: clamp(64px, 5vw, 98px);
		margin-bottom: min(5vh, 60px);
		line-height: 1.32;

		@include tabletSmall {
			font-size: 44px;
			margin-bottom: 30px;
		}

		span {
			display: block;
		}
	}

	// ..name-container__position
	&__position {
		font-size: 26px;
		font-size: clamp(26px, 1.6vw, 40px);
		margin-bottom: min(6.6vh, 70px);
		font-family: $LouisGeorgeCaf;
		letter-spacing: 2px;
		white-space: nowrap;
		color: $blue-main;

		@include tabletSmall {
			letter-spacing: 1px;
			font-size: 23px;
			margin-bottom: 35px;
		}
	}
}

// Photo drawing | drawCanvas |
.photoContainer,
.drawCanvas,
.illustrationImage,
canvas {
	width: 100%;
}

.photoContainer {
	margin: 0 auto;
	align-self: flex-end;
	width: 59%;

	@include heightTopMax {
		width: 55%;
	}

	@include heightTopMin {
		width: 52%;
	}

	@include heightTopMinMax {
		width: 48%;
	}

	@include tabletSmall {
		width: calc(100% + 30px);
		margin-left: -15px;
	}
}

.drawCanvas {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 82.6%;
	position: relative;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		z-index: -1;
		pointer-events: none;
		filter: drop-shadow(0 0 6px rgba(#000000, 0.32));
	}

	canvas,
	.illustrationImage {
		position: absolute;
		top: 0;
		left: 0;
	}

	canvas {
		transform: translateZ(0);
		backface-visibility: hidden;
		will-change: transform;
	}

	.illustrationImage {
		display: none;
	}
}
