@import '../../styles/variables';
@import '../../styles/animation';
@import './components/TableOfContent.scss';

@mixin title-style {
	font-family: $font-raleway;
	font-weight: 600;
	letter-spacing: 0.6px;
	line-height: 1.32;

	@include tabletBig {
		letter-spacing: 1px;
	}
}

.wrapper--idea {
	position: relative;
	padding-bottom: 200px;

	@include tabletBig {
		padding: 0 0 90px;
	}

	@include tabletSmall {
		padding-bottom: 0;
	}
}

.idea-contacts {
	margin: 40px auto 0;

	@include tabletBig {
		// margin-top: 35px;
	}

	.contact-menu {
		// .contact-menu__item
		&__item {
			background-color: #141414;

			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}

.slider-with-btn {
	display: flex;
	width: 100%;

	@include tabletBig {
		margin-left: -40px;
		width: calc(100% + 80px);
		margin-bottom: 50px;
		margin-top: 50px;
	}

	@include mobile {
		margin-left: -15px;
		width: calc(100% + 30px);
	}
}

$section-width: 920px;

.idea-section {
	padding: 70px 40px 110px;
	display: flex;
	align-items: flex-start;
	position: relative;
	box-shadow: 0 0 10px #000000;
	border-radius: 20px;

	@include tabletBig {
		border-radius: 20px;
		max-height: none;
		height: auto;
		flex-direction: column-reverse;
		max-width: $section-width;
		width: calc(100% - 80px);
		margin: 0 auto;
		padding: 0 0 100px;
		box-shadow: 0 6px 10px #000000;
	}

	@include tabletSmall {
		width: 100%;
		border-radius: 0;
		box-shadow: none;
	}
}

.idea-info {
	height: 100%;
	width: 51%;
	position: relative;

	@include tabletBig {
		padding-top: 112px;
		height: auto;
		width: 100%;
		flex-shrink: unset;
		overflow: visible;
	}

	@include tabletSmall {
		padding-top: 40px;
	}
}

.copy-tablet {
	display: none;

	@include tabletBig {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.idea-copy {
	display: inline-block;
	font-size: 14px;
	color: $text-color;
	font-family: $LouisGeorgeCafBold;

	@include tabletBig {
		margin-top: 90px;
	}

	.copyright-text {
		overflow: hidden;
		border-right: 1.5px solid $blue-main;
		white-space: nowrap;
		width: 0;

		@include tabletBig {
			margin: auto;
		}

		&.is-visible {
			animation:
				typing 1.6s steps(18, end) 1s forwards,
				blink-caret 1s step-end infinite;

			@include tabletBig {
				animation:
					typing 1.6s steps(18, end) forwards,
					blink-caret 1s step-end infinite;
			}
		}
	}

	span {
		font-size: 15px;
	}
}

@mixin idea-back_hover {
	color: white;

	svg {
		transform: translateX(-10px);
	}
}

.idea-back {
	font-family: $LouisGeorgeCafBold;
	font-size: 18px;
	letter-spacing: 1.6px;
	color: $toc-title-color;
	padding: 10px;
	padding-left: 0;
	display: inline-flex;
	align-items: center;
	line-height: 1.2;
	gap: 10px;
	position: absolute;
	top: 4px;
	z-index: 1;
	transition: transform 0.2s;

	@include tabletBig {
		position: fixed;
		top: auto;
		bottom: 23px;
		left: 0;
		padding: 12px 16px;
		padding-right: 17px;
		border-radius: 0 10px 10px 0;
		margin: 0;
		background-color: #000;
		box-shadow: 0 0 4px #000;
		z-index: 10;

		span {
			display: none;
		}
	}

	@include tabletSmall {
		bottom: 14px;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@include idea-back_hover;
		}
	}

	&:active {
		@include idea-back_hover;
		transform: scale(0.9);
	}

	span,
	svg {
		transition: 0.2s;
	}

	svg {
		width: 16px;
		fill: currentColor;

		@include tabletBig {
			width: 24px;
		}
	}
}

$nav-top: 2px;

// StartupNavigation
.startup-action {
	position: sticky;
	top: -$nav-top;
	z-index: 11;
	transition: 0.25s;

	&.is-active {
		.idea-tabs {
			padding-top: $nav-top;
			min-width: 100%;
			border-radius: 0;
			box-shadow: 0 3px 10px #000000;
		}

		.idea-tabs__btn {
			border-radius: 0;
		}

		.idea-back {
			position: fixed;
		}

		~ .wrapper--idea {
			.table-content__list {
				@include tabletBig {
					position: fixed;
					top: 40px;
				}
			}
		}
	}
}

@mixin idea-tabs__btn_hover {
	color: #ffffff;
	text-shadow: 0 0 8px rgba(#ffffff, 0.5);
}

.idea-tabs {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #000000;
	width: max-content;
	min-width: 320px;
	white-space: nowrap;
	margin: 65px auto;
	border-radius: 100px;
	box-shadow: 0 0 6px #000000;
	overflow: hidden;
	padding-top: 0;
	transition: 0.25s;

	@include tabletBig {
		width: calc(100% - 80px);
		max-width: $section-width;
		margin: 60px auto -47px;
		box-shadow: 0 0 4px #000000;
	}

	@include tabletSmall {
		margin-top: 50px;
		margin-bottom: 16px;
	}

	@include mobile {
		width: calc(100% - 30px);
	}

	// .idea-tabs__btn
	&__btn {
		padding: 13px 50px 11px;
		font-family: $LouisGeorgeCafBold;
		font-size: 18px;
		letter-spacing: 1px;
		transition:
			color 0.25s,
			border-radius 0.25s;
		color: rgba($nav-btn-color, 0.6);
		border-radius: 100px;
		transition: transform 0.2s;

		@include tabletBig {
			flex-grow: 1;
			padding: 14.5px 10px 12px;
			font-size: 16px;
			letter-spacing: 0;
		}

		&.sub-active {
			position: relative;
			color: $nav-btn-color;
			text-transform: uppercase;

			&::before {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				min-width: 35px;
				max-width: 50px;
				width: 30%;
				height: 3px;
				background-color: rgba($color: $blue-main, $alpha: 1);
				border-radius: 20px;
				transition:
					width 0.25s,
					max-width 0.25s;
			}

			&:hover::before {
				max-width: 100%;
				width: 100%;
			}
		}

		&.active {
			color: $nav-btn-color;
			background-color: $blue-main;
			box-shadow:
				inset 30px 20px 40px #004a8f,
				inset -30px -20px 40px #066ac7;
			text-transform: uppercase;
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				@include idea-tabs__btn_hover;
			}
		}

		&:active {
			@include idea-tabs__btn_hover;

			&:not(.sub-active) {
				transform: scale(0.9);
			}
		}
	}
}

.idea-lang {
	width: max-content;
	display: flex;
	font-family: $font-primary;
	background-color: $bg-color-lang;
	margin: 60px auto 0;
	font-size: 14px;
	border-radius: $radius-lang;
	position: relative;
	z-index: 5;
	overflow: hidden;
	border: 2px solid $bg-color-lang;
	gap: 2px;
	box-shadow: 0 0 6px #000;

	// ### Debugging styles ###
	&--dev-mode {
		position: sticky;
		top: 50px;
		z-index: 1000;
	}

	@include tabletBig {
		margin-top: 50px;
	}

	@include tablet {
		margin-top: 25px;
	}

	$lang-btn-width: 42px;

	// .idea-lang__btn
	&__btn {
		border: none;
		background: none;
		width: $lang-btn-width;
		padding: 14px 10px 13px;
		line-height: 1;
		color: #000;
		font-weight: bold;
		transition:
			color 0.25s,
			background-color 0.25s;
		border-radius: $radius-lang;

		@media (hover: hover) and (pointer: fine) {
			&:not(.active):hover {
				@include idea-lang__btn_hover;
			}
		}

		&:active {
			@include idea-lang__btn_hover;
		}

		&.active {
			color: #fff;
			pointer-events: none;
		}
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		height: 100%;
		background-color: $bg-active-lang;
		border-radius: $radius-lang;

		/* Fallbacks */
		width: $lang-btn-width;
		transform: translateX(0);

		/* Dynamic with JS */
		width: var(--indicator-width, $lang-btn-width);
		transform: translateX(var(--indicator-left, 0));
		transition:
			transform 0.25s,
			width 0.25s;
		will-change: transform, width;
	}
}

.idea-block {
	font-size: 18px;
	line-height: 1.5;
	color: $text-color;
	letter-spacing: 0.26px;

	@include tablet {
		font-size: 17px;
		letter-spacing: 0.3px;
	}

	.slider-with-btn {
		display: none;

		@include tabletBig {
			display: flex;
		}
	}

	li strong,
	li b,
	p strong,
	p b {
		font-weight: $bold-weight;
		color: $bold-color;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		* {
			font-style: inherit;
			font-weight: inherit;
		}
	}

	h1,
	h2,
	h3 {
		@include title-style;
	}

	h1 {
		color: $h1-color;
		font-size: 44px;
		margin: 0 auto 40px;

		@include tablet {
			margin-bottom: 34px;
			font-size: 34px;
		}

		+ h2 {
			margin-top: 0;
		}
	}

	h2 {
		color: $h2-color;
		font-size: 29px;
		margin-bottom: 20px;
		margin-top: 55px;

		@include tablet {
			margin-top: 50px;
			font-size: 26px;
		}
	}

	h3 {
		color: $h3-color;
		margin-bottom: 20px;
		margin-top: 45px;
		font-size: 24px;

		@include tablet {
			font-size: 20px;
			margin-bottom: 20px;
			margin-top: 35px;
		}

		+ ul {
			margin-top: 0;
		}
	}

	h4 {
		font-family: $LouisGeorgeCafBold;
		margin-bottom: 0;
		font-size: 15px;
		line-height: 1.2;
		margin-bottom: 8px;
		color: $h4-sub-color;
		letter-spacing: 0.8px;

		@include tablet {
			font-size: 14px;
		}
	}

	li,
	p {
		word-spacing: 0.5px;
	}

	p + p,
	li + li {
		margin-top: $p-margin;
	}

	p.description__has-em {
		font-weight: 300;
		font-size: 17px;

		@include tablet {
			font-size: 16px;
		}

		&:not(:first-of-type) {
			margin-top: 10px;
		}

		+ h2 {
			margin-top: 40px;
		}
	}

	// .idea-block__list
	ul {
		margin: $p-margin 0;

		li {
			position: relative;
			padding-left: 26px;
			margin-left: 2px;

			@include tablet {
				padding-left: 22px;
			}

			&::before {
				content: '';
				display: block;
				flex-shrink: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: $h3-color;
				position: absolute;
				top: 11px;
				left: 0;

				@include tablet {
					top: 10px;
				}
			}

			&:has(a) {
				&::before {
					top: 12.5px;

					@include tablet {
						top: 11.5px;
					}
				}
			}

			&:has(a:not(:only-child)) {
				&::before {
					top: 15.5px;

					@include tablet {
						top: 14.5px;
					}
				}
			}
		}
	}

	a {
		display: inline-flex;
		align-items: center;
		width: fit-content;
		max-width: calc(100% - 3px);
		border-radius: 100px;
		padding-left: 14px;
		margin: 1px 3px;
		color: $link-color;
		border: 1px solid rgba($link-color, 0.4);
		background-color: rgba(#000000, 0.5);
		line-height: 1.4;
		overflow: hidden;
		transition: 0.25s;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				@include hover-text-link;
			}
		}

		&:active {
			@include hover-text-link;
			transform: scale(0.9);
		}

		// icon for links
		&::after {
			content: '';
			display: block;
			flex-shrink: 0;
			width: 12px;
			aspect-ratio: 1 / 1;
			margin-left: 6px;
			margin-right: 11px;
			line-height: 1;
			transform: translateY(-0.5px);
			opacity: 0.66;

			$svg-local: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="4" y1="20" x2="20" y2="4"></line><polyline points="8 4 20 4 20 16"></polyline></svg>';
			mask: url('data:image/svg+xml;charset=UTF-8,#{$svg-local}') no-repeat center / contain;
			-webkit-mask: url('data:image/svg+xml;charset=UTF-8,#{$svg-local}') no-repeat center / contain;
			background-color: currentColor;
		}

		&[href^='http'] {
			&::after {
				width: 15px;

				$svg-external: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>';
				mask: url('data:image/svg+xml;charset=UTF-8,#{$svg-external}') no-repeat center / contain;
				-webkit-mask: url('data:image/svg+xml;charset=UTF-8,#{$svg-external}') no-repeat center /
					contain;
			}
		}

		span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:not(:only-child) {
			max-width: calc(100% - 3px);
			margin: 4px 3px;
		}
	}
}

.lang-sidebar {
	display: flex;
	width: 50%;
	position: sticky;
	top: 80px;
	margin-left: 80px;
	z-index: 10;

	@include tabletBig {
		margin-left: 0;
		width: 100%;
		position: relative;
		top: 0;
	}

	// .lang-sidebar--has-toc
	&--has-toc {
		top: 130px;
		margin-top: 45px;

		@include tabletBig {
			top: unset;
			margin-top: 0;
		}
	}
}

.desktop-slider {
	width: 100%;
}

@include tabletBig {
	[data-simplebar],
	.desktop-slider,
	.slider-with-btn .copy-tablet,
	.slider-with-btn .idea-contacts {
		display: none;
	}
}

.idea-block__preview {
	.idea-block {
		font-size: 16px;
	}
}

.idea-block__action {
	display: flex;
	margin-top: 50px;
	justify-content: flex-end;

	@include tabletBig {
		margin-top: 40px;
		justify-content: flex-start;
	}
}

@mixin idea-block__more_hover {
	background: rgba(#000000, 0.25);

	&::before,
	&::after {
		width: 100%;
		height: 100%;
	}
}

.idea-block__more {
	position: relative;
	white-space: nowrap;
	font-family: $LouisGeorgeCafBold;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 55px;
	padding-left: 58px;
	color: $h1-color;
	text-shadow: 0 0 0.6px currentColor;
	border: 1px solid rgba($h1-color, 0.4);
	transition:
		background 0.25s,
		transform 0.2s;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		transition:
			width 0.3s,
			height 0.3s;
	}

	&::before {
		top: -1px;
		left: -1px;
		border-top: 1px solid $h1-color;
		border-left: 1px solid $h1-color;
	}

	&::after {
		bottom: -1px;
		right: -1px;
		border-bottom: 1px solid $h1-color;
		border-right: 1px solid $h1-color;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@include idea-block__more_hover;
		}
	}

	&:active {
		@include idea-block__more_hover;
		transform: scale(0.9);
	}
}

.pitch-container {
	@include tabletBig {
		padding: 0 40px;
	}

	@include mobile {
		padding: 0 15px;
	}

	+ .pitch-container {
		margin-top: 60px;
		padding-top: 60px;
		border-top: 1px solid rgba($h4-sub-color, 0.25);
	}
}

.markdown-loading {
	height: 66vh;
	padding-top: 10px;

	.preloader {
		position: static;
		align-items: flex-start;
		z-index: 5;

		// .preloader__spinner
		&__spinner {
			width: 50px;
			height: 50px;

			// .preloader__spinner-span:before
			&-span:before {
				background-color: $toc-title-color;
				height: 14px;
			}
		}
	}
}

// Slider default style
.slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	@include tabletBig {
		display: block;
	}
}

.slider-wrapper {
	@include tabletBig {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&.disabled {
		display: block;

		.slider-btn-js,
		.slides-number {
			display: none;
		}

		.slider-js {
			width: 100%;
		}

		.idea-copy p {
			margin: auto;
		}

		.slider-actions {
			margin-top: 25px;
			justify-content: center;

			@include tabletBig {
				display: none;
			}
		}
	}
}

.slider-wrapper__empty {
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	padding-bottom: 25px;

	@include tabletBig {
		padding-bottom: 0;
	}
}

.slider-js {
	display: flex;
	width: 100%;
	min-height: 222px;
	max-height: min(420px, 52vh);
	aspect-ratio: 16 / 9;
	position: relative;
	overflow: hidden;
	background-color: #000000;
	box-shadow: 0 0 6px #000000;
	border-radius: 0 0 10px 10px;
	transition: transform 0.3s ease-in;

	@include tabletBig {
		border-radius: 0;
		max-height: 420px;
	}
}

.slider-item-js {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	color: $text-color;
	z-index: -1;
	transition:
		z-index 0.25s ease,
		opacity 0.25s;
	color: #ffffff;

	img,
	iframe,
	video {
		object-position: center;
		object-fit: cover;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transform: scale(1.3);
		border: none;
		transition:
			transform 0.3s ease-out,
			opacity 0.3s ease,
			visibility 0.3s ease;
	}

	iframe,
	video {
		cursor: pointer;
		object-fit: contain;
	}

	&[data-active='true'] {
		z-index: 0;

		img,
		iframe,
		video {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}
}

// Video poster preview
.video-preview {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	cursor: pointer;

	&.disabled {
		display: none;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			.video-preview__title {
				box-shadow: inset 0 5px 80px #000000;
			}

			img {
				transform: scale(1.2);
			}

			svg {
				transform: translate(-50%, -50%) scale(0.85);
			}
		}
	}

	&:active {
		img {
			transform: scale(1.2);
		}

		svg {
			transform: translate(-50%, -50%) scale(0.85);
		}
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 68px;
		height: auto;
		fill: #cc0000;
		filter: drop-shadow(0 0 5px #000000);
		transition: 0.25s ease-out;
	}

	// .video-preview__title
	&__title {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 15px 20px;
		font-size: 14px;
		color: rgba($text-color, 0.95);
		box-shadow: inset 0 -82px 115px rgba(#000000, 0.9);
		text-shadow: 1px 1px 2px #000000;
		transition: 0.25s ease-out;

		@include tabletBig {
			padding: 15px 40px;
		}

		@include tabletSmall {
			// font-size: 12px;
			padding: 5px 15px;
		}
	}
}

.slider-actions {
	display: flex;
	align-items: center;
	margin-top: 15px;

	@include tabletBig {
		margin-top: 20px;
	}
}

.slides-number {
	@include title-style;
	font-weight: 500;
	color: rgba($text-color, 0.6);
	margin: 0 10px;
	min-width: 80px;
	text-align: center;
	font-size: 14px;

	@include tabletBig {
		margin: 0 6px;
	}
}

.slider-btn-js {
	padding: 13px;
	border-radius: 10px;
	background-color: rgba($text-color, 0.4);
	box-shadow: 0 0 5px #000000;
	transition: 0.2s;

	.chevron {
		display: block;
		width: 12px;
		height: 12px;
		border: 3px solid rgba($text-color, 1);
		border-width: 3px 3px 0 0;
		transition: 0.2s;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@include slider-arrows_hover;
		}
	}

	&:active {
		@include slider-arrows_hover;
		transform: scale(0.9);
	}

	&-next {
		.chevron {
			transform: rotate(45deg) translate(-2px, 2px);
		}
	}

	&-prev {
		margin-left: auto;

		.chevron {
			transform: rotate(-135deg) translate(-2px, 2px);
		}
	}
}

.slider-loader {
	.preloader {
		background: #000;
		position: absolute;
		z-index: 10;

		// .preloader__spinner
		&__spinner {
			// .preloader__spinner-span:before
			&-span:before {
				background-color: rgba($bg-active-lang, 1);
			}
		}
	}
}
