@mixin idea-back_hover {
	color: white;

	svg {
		transform: translateX(-10px);
	}
}

@mixin idea-lang__btn_hover {
	background-color: rgba($bg-active-lang, 0.45);
}

.startup-actions {
	position: relative;
	z-index: 0;
	margin-top: 60px;

	@include tabletBig {
		margin-top: 50px;
	}

	@include tablet {
		margin-top: 27px;
	}

	&.is-visible {
		z-index: 12;
	}
}

.idea-back {
	font-family: $LouisGeorgeCafBold;
	font-size: 18px;
	letter-spacing: 1.6px;
	color: $toc-title-color;
	padding: 12px;
	padding-left: 0;
	display: inline-flex;
	align-items: center;
	line-height: 1.2;
	gap: 10px;
	position: absolute;
	top: 4px;
	z-index: 1;
	transition: transform 0.2s;

	@include tabletBig {
		position: fixed;
		top: auto;
		bottom: 23px;
		left: 0;
		padding: 10px 17px;
		border-radius: 0 10px 10px 0;
		margin: 0;
		background-color: #000000;
		box-shadow: 0 0 2px #000000;
		z-index: 10;

		span {
			display: none;
		}
	}

	@include tabletSmall {
		bottom: 15px;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@include idea-back_hover;
		}
	}

	&:active {
		@include idea-back_hover;
		transform: scale(0.9);
	}

	span,
	svg {
		transition: 0.2s;
	}

	svg {
		width: 16px;
		fill: currentColor;

		@include tabletBig {
			width: 24px;
		}
	}
}

// StartupNavigation
$nav-top: 2px;
@mixin startup-nav__btn-hover {
	color: #ffffff;
	text-shadow: 0 0 8px rgba(#ffffff, 0.5);
}

.application__nav {
	&.nav-active {
		// ### Debugging styles ### .idea-lang--dev-mode
		.idea-devMode {
			position: relative;
			height: 45px;

			.idea-lang {
				position: fixed;
				left: 50%;
				top: 55px;
				transform: translateX(-50%);
				z-index: 12;
			}
		}

		.startup-nav__container {
			position: fixed;
			top: -$nav-top;
			left: 0;
		}

		.startup-nav__wrapper {
			min-width: 100%;
			border-radius: 0;
			box-shadow: 0 3px 10px #000000;
			padding: $nav-top 80px 0;

			@include tabletBig {
				padding: $nav-top 0 0;
			}
		}

		.startup-nav__btn,
		.startup-nav__btn::before {
			border-radius: 0;
		}

		.idea-back {
			position: fixed;
		}

		~ .page {
			.table-content__list {
				@include tabletBig {
					position: fixed;
					top: 42px;
				}
			}
		}
	}
}

.startup-nav {
	position: relative;
	z-index: 11;
	margin-top: 60px;
	padding-bottom: 130px;
	height: 52px;

	@include tabletBig {
		padding-bottom: 0;
	}

	@include tabletSmall {
		margin-top: 52px;
		margin-bottom: 16px;
	}

	// .startup-nav__container
	&__container {
		width: 100%;
	}

	// .startup-nav__wrapper
	&__wrapper {
		width: 100%;
		max-width: max-content;
		min-width: 320px;
		margin: auto;
		text-align: center;
		background-color: #000000;
		border-radius: 100px;
		box-shadow: 0 0 3px #000000;
		overflow: hidden;
		transition:
			padding 0.2s,
			min-width 0.3s,
			border-radius 0.3s,
			box-shadow 0.3s;

		@include tabletBig {
			max-width: $section-width;
			width: calc(100% - 80px);
		}

		@include mobile {
			width: calc(100% - 30px);
		}
	}

	// .startup-nav__links
	&__links {
		overflow-y: hidden;
		overflow-x: auto;
	}

	// .startup-nav__inner
	&__inner {
		display: flex;
		justify-content: center;
		width: max-content;
		min-width: 100%;
		margin: auto;
		max-width: 1440px;
	}

	// .startup-nav__btn
	&__btn {
		padding: 14px 70px 13px;
		font-family: $LouisGeorgeCafBold;
		font-size: 19px;
		letter-spacing: 1px;
		color: rgba($nav-btn-color, 0.6);
		flex-shrink: 0;
		border-radius: 100px;
		overflow: hidden;
		position: relative;
		flex-grow: 1;
		z-index: 0;
		transition:
			transform 0.2s,
			color 0.25s,
			border-radius 0.3s;

		@include tabletBig {
			padding: 16px 14px 14px;
			font-size: 16px;
			letter-spacing: 0;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: -2;
			transform: translateX(-50%);
			background-color: rgba($blue-main, 0.86);
			border-radius: 10px;
			width: 0;
			height: 3px;
			overflow: hidden;
			transition: width 0.3s;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $blue-main;
			background: $bg-gradient;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: 100px;
			overflow: hidden;
			transform: scale(0, 1) translateY(100%);
			transition:
				transform 0.3s,
				border-radius 0.3s;
		}

		&.active {
			color: $nav-btn-color;
			text-transform: uppercase;

			&::before {
				transform: scale(1, 1) translateY(0);
			}
		}

		&.sub-active {
			color: #ffffff;
			text-transform: uppercase;
			overflow: visible;

			&::after {
				width: 56px;

				@include tabletBig {
					width: 38px;
				}
			}

			@media (hover: hover) and (pointer: fine) {
				&:hover::after {
					width: 100%;
				}
			}

			&:active::after {
				width: 100%;
			}
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				@include startup-nav__btn-hover;
			}
		}

		&:active {
			@include startup-nav__btn-hover;

			&:not(.sub-active) {
				transform: scale(0.9);
			}
		}

		span {
			display: block;

			&::before {
				content: attr(data-text);
				text-transform: uppercase;
				display: block;
				height: 0;
				overflow: hidden;
				visibility: hidden;
				pointer-events: none;
			}
		}
	}

	> .wrapper ~ {
		.startup-nav__container .startup-nav__btn {
			flex-grow: 0;

			@include tabletBig {
				flex-grow: 1;
			}
		}
	}
}

.idea-lang {
	width: max-content;
	display: flex;
	font-family: $font-primary;
	background-color: $bg-color-lang;
	margin: auto;
	font-size: 14px;
	border-radius: $radius-lang;
	position: relative;
	z-index: 12;
	overflow: hidden;
	border: 2px solid $bg-color-lang;
	gap: 2px;
	box-shadow: 0 0 6px #000;

	$lang-btn-width: 42px;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		background-color: $bg-active-lang;
		border-radius: $radius-lang;
		/* Fallbacks */
		width: $lang-btn-width;
		transform: translateX(0);

		/* Dynamic with JS */
		width: var(--indicator-width, $lang-btn-width);
		transform: translateX(var(--indicator-x, 0));

		transition: transform 0.2s;
		will-change: transform;
	}

	// .idea-lang__btn
	&__btn {
		border: none;
		background: none;
		width: $lang-btn-width;
		padding: 14px 10px 13px;
		line-height: 1;
		color: #000;
		font-weight: bold;
		transition:
			color 0.2s,
			transform 0.2s,
			background-color 0.2s;
		border-radius: $radius-lang;

		@media (hover: hover) and (pointer: fine) {
			&:not(.active):hover {
				@include idea-lang__btn_hover;
			}
		}

		&:active {
			@include idea-lang__btn_hover;
		}

		&.active {
			color: #ffffff;
			pointer-events: none;
		}
	}
}
