@import '../../styles/variables';
@import '../../styles/animation';

.wrapper--idea {
	position: relative;
	padding-bottom: 30px;
	height: calc(100% - 90px);

	@include tabletBig {
		height: auto;
		padding-bottom: 45px;
	}
}

.addToHome {
	button {
		background: #fff;
		padding: 20px;
		position: fixed;
		right: 20px;
		bottom: 20px;
	}
}

// underline link effect
.nav-link--underline {
	z-index: unset;
	&::after {
		z-index: unset;
	}

	&:hover {
		cursor: default;

		@include mobile {
			cursor: pointer;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 2px;
		background-color: $blue-main;
		transition: transform 0.4s ease;
		transform: scale(0, 1);
		z-index: 2;
	}

	&:hover::after {
		transform: scale(0, 1);
		height: 2px;
	}

	&:hover::before {
		transform: scale(1, 1);
	}
}

.idea-contacts {
	position: relative;
	display: inline-block;
	margin: auto auto 0;
	width: max-content;

	@include tabletBig {
		margin-top: 25px;
	}

	&__list {
		user-select: text;
		position: absolute;
		bottom: 44px;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0px 4px 10px rgba($color: $black, $alpha: 0.6);
		border-radius: 10px;
		background-color: rgba($color: $black, $alpha: 0.9);
		color: $textGrey;
		font-size: 14px;
		display: inline-block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		transition: 0.4s;
		width: max-content;
		z-index: 1;

		@include mobile {
			font-size: 15px;
		}

		&-items {
			padding: 20px 25px;
		}

		p {
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: $blue-main;
			transition: color 0.3s;

			&:hover {
				color: $starYellow;
			}
		}
	}

	&.show {
		.idea-contacts__list {
			visibility: visible;

			&::after {
				transform: translate(-50%, 0) scale(1, 1);
			}
		}

		.nav-link--underline {
			&:after {
				transform: scale(0, 1);
				height: 2px;
			}

			&:before {
				transform: scale(1, 1);
			}
		}
	}
}

.slider-with-btn {
	display: flex;
	width: 100%;

	@include tabletBig {
		margin-left: -40px;
		width: calc(100% + 80px);
	}

	@include mobile {
		margin-left: -15px;
		width: calc(100% + 30px);
	}
}

.idea-section {
	background: $darker;
	padding: 0 40px 30px;
	display: flex;
	position: relative;
	box-shadow: 0 0 20px rgba($color: $black, $alpha: 0.8);
	height: 100%;
	max-height: calc(100% - 29px);

	@include tabletBig {
		max-height: none;
		height: auto;
		flex-direction: column-reverse;
		max-width: 777px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 45px;
	}

	@include mobile {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.idea-info {
	height: 100%;
	width: calc(50% + 2px);
	margin-right: 40px;
	padding-top: 40px;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;

	@include tabletBig {
		padding-top: 0;
		height: auto;
		width: 100%;
		margin-right: 0;
		flex-shrink: unset;
		overflow: visible;
	}
}

.copy-tablet {
	display: flex;

	@include tabletBig {
		justify-content: center;
	}
}

.idea-copy {
	display: inline-block;
	font-size: 12px;
	color: $textGrey;

	@include tabletBig {
		margin-top: 35px;
		margin-right: unset;
	}

	p {
		overflow: hidden;
		border-right: 1.5px solid $blue-main;
		white-space: nowrap;
		width: 0;
		animation: typing 2.5s steps(18, end) 2s forwards, blink-caret 1s step-end infinite;
	}

	span {
		font-size: 15px;
	}
}

.startup-pages {
	@include tabletBig {
		max-width: 777px;
		margin: 0 auto;
		text-align: center;
	}

	@include mobile {
		width: calc(100% + 30px);
		margin-left: -15px;
		overflow: hidden;

		.idea-tabs--urls {
			width: 100%;
			overflow: auto;
			padding: 0 15px;
		}
	}
}

.idea-tabs {
	font-size: 13px;
	display: flex;

	&--lang {
		position: absolute;
		top: 0;
		right: 0;
		box-shadow: -5px 5px 15px rgba($color: $black, $alpha: 0.6);

		@include tabletBig {
			width: calc(100% + 80px);
			margin-left: -40px;
			margin-bottom: 45px;
			position: static;
			box-shadow: 0 5px 15px rgba($color: $black, $alpha: 0.6);
		}

		@include mobile {
			width: calc(100% + 30px);
			margin-left: -15px;
		}

		.idea-tabs__btn {
			&:hover {
				text-shadow: 0 0 0.7px $snow;
			}
		}
	}

	&--urls {
		white-space: nowrap;
		font-size: 14px;

		@include tabletBig {
			margin-top: 20px;
		}

		.idea-tabs__btn {
			text-transform: none;
			padding: 5px 25px;

			@include tabletBig {
				padding: 10px;
			}

			&:hover {
				text-shadow: 0 0 0.7px $blue-main, 0 0 0.7px $blue-main;
				color: $blue-main;
			}
		}
	}

	&__btn {
		background: $black;
		color: $snow;
		padding: 4px 15px;
		text-transform: uppercase;
		line-height: normal;

		@include tabletBig {
			flex-grow: 1;
			padding-top: 6px;
			padding-bottom: 6px;
		}

		&.active {
			background: $blue-main;
			text-shadow: 0 0 0.7px $snow;
			font-weight: bold;
		}
	}
}

.startup-title {
	text-align: center;
	font-size: 31px;
	letter-spacing: 5px;
	font-family: $lg-bold;
	margin-bottom: 45px;
}

.idea-types {
	margin-bottom: 25px;
	font-style: italic;
	text-align: right;
	font-size: 15px;

	@include mobile {
		font-size: 14px;
	}
}

.idea-block {
	line-height: 1.5;
	font-size: 17px;
	letter-spacing: 0;
	color: $textGrey;
	margin-bottom: 35px;

	@include mobile {
		font-size: 1rem;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__titleBig {
		font-size: 24px;
		font-family: $ui-medium;
		color: $starYellow;
		letter-spacing: 2px;
		font-weight: 600;
		text-align: right;
		margin-bottom: 10px;

		@include tabletBig {
			font-size: 24px;
		}
	}

	&__subtitleBig {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}

		span {
			font-weight: 600;
			display: inline-block;
			margin-right: 5px;
		}
	}

	&__title {
		color: $blue-main;
		font-size: 24px;
		line-height: normal;
		font-family: $ui-medium;
		font-weight: 600;
		margin-bottom: 15px;
		letter-spacing: 2px;
	}

	&__subtitle {
		font-size: 18px;
		font-family: $ui-medium;
		color: $titlePink;
		margin: 25px 0 10px;
		letter-spacing: 1px;
	}

	&__text {
		margin-bottom: 20px;

		a {
			display: inline;
			color: $snow;
			text-decoration: underline;
			position: relative;

			&:hover {
				text-decoration: none;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 10px;
		position: relative;
		display: flex;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: '';
			display: inline-block;
			flex-shrink: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: $titlePink;
			margin-right: 11px;
			margin-top: 11px;
		}
	}
}

.last-words {
	line-height: normal;
	text-align: right;
	font-style: italic;
	margin-top: 45px;
	font-size: 14px;
	white-space: pre-line;

	span {
		display: block;
	}

	@include tabletBig {
		margin-bottom: 0;
	}
}

// Slider default style
.slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 40px;

	@include tabletBig {
		margin-top: 0;
		align-items: center;
		overflow: hidden;
		height: 300px;
		background-color: $black;
		box-shadow: 0 5px 15px rgba($color: $black, $alpha: 0.6);
	}

	@include tabletSmall {
		height: 205px;
	}
}

.slider-js {
	width: 100%;
	display: flex;
	height: 400px;
	transition: transform 0.4s ease-in;
	position: relative;
	overflow: hidden;
	background-color: $black;
	box-shadow: 0 0 15px rgba($color: $black, $alpha: 0.8);

	@include tabletBig {
		height: 100%;
		width: calc(100% - 80px);
		box-shadow: unset;
	}

	@include mobile {
		width: calc(100% - 56px);
	}
}

.slider-item-js {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	color: $textGrey;
	z-index: -1;
	transition: z-index 0.4s ease;

	img,
	video {
		object-position: center;
		object-fit: cover;
		height: 100%;
		opacity: 0;
		transform: scale(1.3);
		transition: transform 0.4s ease-out, opacity 0.4s ease;
	}

	video {
		cursor: pointer;
		object-fit: contain;
	}

	&[data-active='true'] {
		z-index: 0;

		img,
		video {
			transform: scale(1);
			opacity: 1;
		}
	}
}

// Video poster preview
.video-preview {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $black;
	cursor: pointer;
	color: $snow;

	&.disabled {
		display: none;
	}

	&:hover {
		color: $blue-main;

		.video-preview__title {
			box-shadow: inset 0 -110px 100px rgba($color: $black, $alpha: 0.9);
		}

		svg {
			transform: translate(-50%, -50%) scale(1.2);
		}
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		width: 120px;
		height: 120px;

		@include tablet {
			width: 80px;
			height: 80px;
		}
	}

	&__title {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		padding: 25px;
		box-shadow: inset 0 -100px 100px rgba($color: $black, $alpha: 0.8);
		transition: 0.2s;

		@include tablet {
			padding: 10px;
			font-size: 14px;
			box-shadow: inset 0 -65px 40px rgba($color: $black, $alpha: 0.8);
		}

		@include mobile {
			font-size: 12px;
		}
	}
}

.slides-number {
	font-size: 12px;
	color: $blue-main;
	font-weight: bold;
	margin: 0 5px;

	@include tabletBig {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: 10px 0 0;
	}
}

.slider-actions {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 10px;

	@include tabletBig {
		position: static;
		margin-top: 0;
	}

	&.disabled {
		pointer-events: none;

		.slider-btn-js,
		.slides-number {
			filter: grayscale(1);
		}
	}
}

.slider-btn-js {
	padding: 12px;

	@include tabletBig {
		position: absolute;
		top: 0;
		height: 100%;
		background-color: $black;

		&::after {
			content: '';
			display: block;
			width: 30px;
			height: 65%;
			position: absolute;
			top: 0;
		}
	}

	@include mobile {
		padding: 8px;
	}

	.chevron {
		display: block;
		width: 17px;
		height: 17px;
		border: 3px solid $blue-main;
		border-width: 3px 3px 0 0;

		@include mobile {
			width: 13px;
			height: 13px;
		}
	}

	&:hover .chevron {
		border-color: $titlePink;
	}

	&-next {
		@include tabletBig {
			box-shadow: -3px 0 15px rgba($color: $black, $alpha: 0.8);

			right: 0;

			&::after {
				right: 100%;
			}
		}

		.chevron {
			transform: rotate(45deg);

			@include tabletBig {
				transform: rotate(45deg) translate(-2px, 2px);
			}
		}
	}

	&-prev {
		margin-left: auto;

		@include tabletBig {
			left: 0;
			box-shadow: 3px 0 15px rgba($color: $black, $alpha: 0.8);

			&::after {
				left: 100%;
			}
		}

		.chevron {
			transform: rotate(-135deg);

			@include tabletBig {
				transform: rotate(-135deg) translate(-2px, 2px);
			}
		}
	}
}

@media screen and (min-width: 1281px) {
	// scrollbar styles
	[data-simplebar] {
		position: relative;
		padding-right: 30px;
		z-index: 0;

		@include tabletBig {
			padding-right: 0;
		}
	}

	.simplebar-wrapper {
		overflow: hidden;
	}

	.simplebar-mask {
		direction: inherit;
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: auto !important;
		height: auto !important;
		z-index: 0;
	}

	.simplebar-offset {
		direction: inherit !important;
		box-sizing: inherit !important;
		resize: none !important;
		position: absolute;
		top: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		-webkit-overflow-scrolling: touch;
	}

	.simplebar-content-wrapper {
		direction: inherit;
		box-sizing: border-box !important;
		position: relative;
		display: block;
		height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
		width: auto;
		max-width: 100%; /* Not required for horizontal scroll to trigger */
		max-height: 100%; /* Needed for vertical scroll to trigger */
		overflow: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
			width: 0;
		}
	}

	.simplebar-track {
		z-index: 1;
		position: absolute;
		right: 0;
		bottom: 0;
		cursor: pointer;
		overflow: hidden;
	}

	.simplebar-scrollbar {
		position: absolute;
		left: 0;
		right: 0;
		min-height: 10px;
	}

	.simplebar-scrollbar:before {
		content: '';
		background: $blue-main;
		border-radius: 10px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.simplebar-track.simplebar-vertical {
		top: 0;
		width: 6px;
		border-radius: 10px;
		background: $darkest;
	}
}
