$toc-top: 12px;

.table-content {
	width: 100%;
	position: absolute;
	top: $toc-top;
	padding-bottom: $toc-top;
	background-color: $black;
	box-shadow: 0 0 10px black;
	font-size: 15px;
	border-radius: 10px 10px 0 0;
	left: 0;
	transform: translateY(-100%);
	z-index: 0;
	transition: z-index 0s 0.16s;
	will-change: z-index;

	@include tabletBig {
		padding: 0;
		background: none;
		top: unset;
		left: unset;
		transform: none;
	}

	&.is-open {
		transition: z-index 0s;
		z-index: 10;

		.table-content__btn {
			mark {
				@include burgerIconOpen;
			}
		}

		.table-content__list {
			max-height: 70dvh;

			@include tabletBig {
				max-width: unset;
				transform: translateX(0);
			}
		}
	}

	// .table-content__btn
	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		background-color: $black;
		border-radius: 10px 10px 0 0;
		font-family: $LouisGeorgeCafBold;
		box-shadow: 0 0 10px rgba($color: $black, $alpha: 1);
		gap: 14px;
		padding: 12px 20px;
		transition: 0.2s;

		@include tabletBig {
			border-radius: 5px;
			width: auto;
			position: fixed;
			bottom: 20px;
			right: 20px;
			left: auto;
			top: auto;
			z-index: 100;
			padding: 10px;
		}

		mark {
			@include burgerIcon;
			width: 18px;
			height: 14px;
			margin-left: 0;
			margin-bottom: 1px;

			span {
				background-color: #fff;
			}
		}
	}

	// .table-content__list
	&__list {
		background-color: $black;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 0 10px rgba($color: $black, $alpha: 1);
		width: 100%;
		height: 0;
		position: absolute;
		left: 0;
		top: 100%;
		overflow: hidden;
		transition: height 0.2s;
		will-change: height;

		@include tabletBig {
			border-radius: 10px 0 0 10px;
			position: fixed;
			bottom: 70px;
			right: 0;
			left: auto;
			top: auto;
			width: max-content;
			transform: translateX(110%);
			max-width: 80vw;
			height: 70dvh;
		}

		button {
			display: block;
			width: 100%;
			padding: 2px 40px;
			font-family: $Raleway;
			text-align: left;

			&:first-of-type {
				padding: 10px;
			}

			&:hover {
				mark {
					color: #fff;
				}
			}

			&.is-active {
				&::before {
					display: block;
				}
			}

			.h1-toc-item {
				font-weight: bold;
				color: $starYellow;
				font-size: 16px;
				text-align: center;
			}

			.h2-toc-item {
				font-weight: 500;
				font-size: 15px;
				color: $blue-main;
			}

			.h3-toc-item {
				font-size: 14px;
				color: $titlePink;
				margin-left: 20px;
				font-weight: normal;
			}
		}
	}

	// .table-content__inner
	&__inner {
		height: 100%;
		overflow: auto;
		scrollbar-gutter: stable;
	}

	// .table-content__wrapper
	&__wrapper {
		padding-bottom: 30px;
	}

	// .table-content__title
	&__title {
		display: none;

		@include tabletBig {
			margin-top: 20px;
			margin-bottom: 6px;
			font-family: $LouisGeorgeCafBold;
			text-align: center;
			display: block;
		}
	}
}
