$toc-top: 12px;

.table-content {
	width: 100%;
	position: absolute;
	top: $toc-top;
	padding-bottom: $toc-top;
	background-color: $black;
	border-radius: 10px 10px 0 0;
	left: 0;
	transform: translateY(-100%);
	z-index: 0;
	transition: z-index 0s 0.16s;
	will-change: z-index;

	@include tabletBig {
		padding: 0;
		background: none;
		top: unset;
		left: unset;
		transform: none;
	}

	&.is-open {
		transition: z-index 0s;
		z-index: 10;

		.table-content__btn {
			mark {
				@include burgerIconOpen;
			}
		}
	}

	// .table-content__btn
	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		background-color: $black;
		box-shadow: 0 2px 13px rgba($black, 1);
		border-radius: 10px 10px 0 0;
		font-family: $LouisGeorgeCafBold;
		font-size: 16px;
		gap: 20px;
		padding: 12px 20px;
		transition: 0.2s;

		&:hover {
			color: $blue-main;
		}

		@include tabletBig {
			border-radius: 6px;
			width: fit-content;
			position: fixed;
			bottom: 30px;
			right: 15px;
			z-index: 100;
			padding: 14px;
			background: linear-gradient(134deg, #000000 30%, #002840 100%);
			box-shadow: 0 0 8px rgba($black, 1);

			> h3 {
				display: none;
			}
		}

		mark {
			@include burgerIcon;
			width: 23px;
			height: 14px;
			margin-left: 0;
			margin-bottom: 1px;

			@include tabletBig {
				margin-bottom: 0;
			}

			span {
				background-color: #fff;
			}
		}
	}

	// .table-content__list
	&__list {
		background-color: $black;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 2px 13px rgba($black, 1);
		width: 100%;
		max-height: 74dvh;
		height: 0;
		position: absolute;
		right: 0;
		top: calc(100% - 2px);
		overflow: hidden;
		transition: height 0.2s;
		will-change: height;
		background: linear-gradient(145deg, #000000 68%, #002840 100%);

		@include tabletBig {
			border-radius: 0 0 10px 10px;
			top: 100%;
			right: 50%;
			width: fit-content;
			transform: translateX(50%);
			max-width: calc(100% - 105px);
		}

		button {
			display: block;
			width: 100%;
			padding: 2px 40px;
			font-family: $Raleway;
			text-align: left;
			position: relative;
			white-space: nowrap;

			@include tabletBig {
				padding: 2px 25px;
			}

			&:first-of-type {
				padding: 10px;
			}

			&::before {
				content: '➤';
				font-size: 13px;
				display: none;
				align-items: center;
				width: fit-content;
				height: 100%;
				position: absolute;
				left: 15px;
				color: #fff;
				top: 0;

				@include tabletBig {
					left: 6px;
					font-size: 9px;
				}
			}

			mark {
				text-overflow: ellipsis;
				overflow: hidden;

				&::after {
					content: attr(data-text);
					font-weight: bold;
					visibility: hidden;
					opacity: 0;
					height: 0;
					overflow: hidden;
					display: block;
				}
			}

			&:hover {
				mark {
					color: #fff;
				}
			}

			&.is-active {
				mark {
					color: #fff;
					font-weight: bold;
				}

				&::before {
					display: flex;
				}
			}

			.h1-toc-item {
				font-weight: bold;
				color: $starYellow;
				font-size: 16px;
				text-align: center;

				@include tabletBig {
					font-size: 15px;
				}
			}

			.h2-toc-item {
				font-weight: 500;
				font-size: 15px;
				color: $blue-main;

				@include tabletBig {
					font-size: 14px;
				}
			}

			.h3-toc-item {
				font-size: 14px;
				color: $titlePink;
				margin-left: 20px;
				font-weight: normal;

				@include tabletBig {
					font-size: 13px;
				}
			}
		}
	}

	// .table-content__inner
	&__inner {
		height: 100%;
		overflow: auto;
		scrollbar-gutter: stable;
	}

	// .table-content__wrapper
	&__wrapper {
		padding-bottom: 30px;

		@include tabletBig {
			padding-bottom: 20px;
		}
	}

	// .table-content__title
	&__title {
		display: none;

		@include tabletBig {
			margin-top: 25px;
			margin-bottom: 6px;
			font-family: $LouisGeorgeCafBold;
			text-align: center;
			display: block;
		}
	}
}
