@import '../../styles/variables';

.header {
	position: relative;
	z-index: 98;
	height: 90px;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: $LouisGeorgeCafBold;
	display: flex;
	align-items: center;

	@include tablet {
		height: 80px;
		font-size: 21px;

		.wrapper {
			display: flex;
			align-items: center;
		}

		.logo,
		.mobile-menu-btn {
			position: relative;
			z-index: 100;
			flex-shrink: 0;
		}

		.nav-link {
			&:after {
				transform: scale(0);
				height: 100%;
				width: 100%;
				will-change: transform;
			}

			&.active:after {
				transform: scale(1);
			}
		}
	}
}

.header-nav {
	display: flex;
	align-items: center;

	&--desktop {
		@include tablet {
			display: none;
		}
	}

	&__list {
		min-width: 55%;
		display: flex;
		justify-content: space-between;
		margin-left: auto;
	}
}

.logo-link {
	font-size: 23px;
	padding: 12px 0;
	letter-spacing: 4px;
}

.nav-item {
	margin-right: 70px;
	display: flex;
	justify-content: center;

	@include tablet {
		text-align: center;
		margin-right: 0;
		margin-bottom: 35px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.nav-link {
	@include navLink;
}

.mobile-menu-btn,
.mobile-menu,
.wrapper > .logo {
	display: none;
}

@include tablet {
	.mobile-menu-btn,
	.mobile-menu,
	.wrapper > .logo {
		display: block;
	}

	.mobile-menu-btn {
		@include burgerIcon;
	}

	.mobile-menu {
		height: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		z-index: 99;
		will-change: height, opacity, visibility;

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			will-change: height, transform, bottom;
		}

		&__content {
			height: 100dvh;
			// height: calc(var(--vh, 1vh) * 100);
			overflow-x: hidden;
			overflow-y: auto;
			padding-top: 25vh;
			padding-bottom: 30px;
			scrollbar-gutter: stable;
		}

		.nav-item,
		.contact-menu {
			transform: scale(0);
			transition: 0.2s;
			will-change: transform;
		}

		.contact-menu {
			justify-content: center;
			padding: 10px;
		}

		&.open {
			height: 100vh;
			opacity: 1;
			visibility: visible;
			transform-style: preserve-3d;
			transform: translateZ(1px);

			.nav-item,
			.contact-menu {
				transform: scale(1);
			}

			.nav-item:first-child {
				transition-delay: 0.15s;
			}

			.nav-item:nth-child(2) {
				transition-delay: 0.2s;
			}

			.nav-item:last-child {
				transition-delay: 0.25s;
			}

			.contact-menu {
				transition-delay: 0.3s;
			}

			&:after,
			&:before {
				height: 100vh;
				z-index: -1;
			}

			&:before {
				background-color: $blue-main;
				animation: menuAnim 0.3s ease;
			}

			&:after {
				background-color: $darken;
				animation: menuAnim 0.5s ease;
			}
		}
	}

	.header-overflow {
		.mobile-menu-btn {
			@include burgerIconOpen;
		}
	}
}
