@import '../../styles/variables';

.header {
	position: relative;
	z-index: 100;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 12px 0;
	height: 90px;
	overflow: hidden;

	@include tablet {
		height: 80px;
		padding: 15px 0;

		.wrapper {
			display: flex;
			align-items: center;
		}
	}
}

.logo-link {
	color: #fff;
	padding: 14px 0;
	width: 190px;

	svg {
		width: 100%;
		height: auto;
	}

	&__tag {
		color: $blue-main;
	}
}

.header-nav {
	display: flex;
	align-items: center;

	&--desktop {
		@include tablet {
			display: none;
		}
	}

	// .header-nav__list
	&__list {
		min-width: 50%;
		display: flex;
		justify-content: space-between;
		margin-left: auto;
	}
}

.nav-item {
	margin-right: 75px;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;

	@include tablet {
		margin-right: 0;
		margin-bottom: 36px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.nav-link {
	@include navLink;

	font-size: 23px;
	letter-spacing: 4px;
	font-family: $LouisGeorgeCafBold;
}

.mobile-menu-btn,
.mobile-menu,
.wrapper > .logo {
	display: none;
}

@include tablet {
	.mobile-menu-btn,
	.mobile-menu,
	.wrapper > .logo {
		display: block;
	}

	.mobile-menu-btn {
		@include burgerIcon;
	}

	.mobile-menu {
		width: 100%;
		height: 100dvh;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		z-index: 99;
		will-change: height, opacity, visibility;
		transform: translateZ(1px);
		transform-style: preserve-3d;

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			will-change: height, transform, bottom;
		}

		.nav-link {
			min-width: 235px;
			padding-top: 15px;
			padding-bottom: 15px;
			border: 1px solid rgba(#61676d, 0.5);
			transition:
				border-color 0.25s,
				transform 0.25s;
			border-radius: 100px;

			&:active {
				transform: scale(0.8);
			}

			&:after {
				transform: scale(0);
				height: 100%;
				width: 100%;
				border-radius: 100px;
			}

			&.active {
				border-color: transparent;

				&:after {
					transform: scale(1);
				}
			}
		}

		// .mobile-menu__content
		&__content {
			height: 100dvh;
			overflow-x: hidden;
			padding-top: 100px;
			padding-top: max(90px, 25vh);
			padding-bottom: 40px;
		}

		.nav-item,
		.contact-menu {
			transform: scale(0);
			transition: 0.2s;
			will-change: transform;
		}

		.contact-menu {
			justify-content: center;
			padding: 10px 0;
		}

		&.open {
			opacity: 1;
			visibility: visible;

			.nav-item,
			.contact-menu {
				transform: scale(1);
			}

			.nav-item:first-child {
				transition-delay: 0.15s;
			}

			.nav-item:nth-child(2) {
				transition-delay: 0.2s;
			}

			.nav-item:last-child {
				transition-delay: 0.25s;
			}

			.contact-menu {
				transition-delay: 0.3s;
			}

			&:after,
			&:before {
				height: 100%;
				z-index: -1;
			}

			&:before {
				background-color: $blue-main;
				box-shadow: $box-shadow-main;
				animation: menuAnim 0.3s ease;
			}

			&:after {
				background-color: $bg-main;
				animation: menuAnim 0.5s ease;
			}
		}
	}

	.header-overflow {
		.mobile-menu-btn {
			@include burgerIconOpen;
		}
	}
}
