@import '../../styles/variables.scss';

.projects-container {
	display: flex;
	flex-wrap: wrap;
}

.project {
	position: relative;
	z-index: 0;
	width: calc(100% / 3 - 80px / 3);
	height: 300px;
	flex-shrink: 0;
	margin-right: 40px;
	margin-bottom: 40px;

	&:nth-child(3n) {
		margin-right: 0;

		@include tablet {
			margin-right: 40px;
		}

		@include tabletSmall {
			margin-right: 0;
		}
	}

	&:hover {
		> .project__before {
			transform: translate(18px, 8px);
			height: 100%;
			width: 100%;

			@include mobile {
				transform: translate(15px, 5px);
			}
		}

		> .project__bg {
			box-shadow: 10px 10px 10px rgba($color: $black, $alpha: 0.6);
			animation-play-state: running;
			transform: translateY(-10px);
		}

		.project-link {
			background-size: 100% 500px;
			background-position: 0 -20px;
		}

		.project-name span {
			animation: LowLine 0.4s infinite;
		}

		.project__skills {
			transform: translateY(0) translateZ(2px);
			z-index: 3;
		}
	}

	&__before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: calc(100% - 5px);
		height: calc(100% - 5px);
		background: $blue-main;
		transition: 0.3s ease 0.2s;
	}

	&__bg {
		position: relative;
		z-index: 1;
		height: 100%;
		justify-content: flex-end;
		flex-direction: column;
		background-color: $darken;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0;
		box-shadow: 10px 10px 10px rgba($color: $black, $alpha: 0.3);
		animation: bgPosition 5s ease-in-out alternate infinite;
		animation-play-state: paused;
		transform: translateY(0);
		transition: 0.3s ease;
		overflow: hidden;
	}

	@include tablet {
		width: calc(100% / 2 - 20px);

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	@include tabletSmall {
		height: 280px;
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}
}

.project-link {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, $darker 20%, transparent 80%);
	background-size: 100% 800px;
	background-position: 0 -330px;
	transform: translateZ(1px);
	transition: 0.3s ease;
}

.project-container {
	width: 100%;
	height: 100%;
	align-items: flex-end;
}

.project-name {
	font-family: $Raleway;
	font-size: 1.5rem;
	line-height: 1.4;
	letter-spacing: 3.2px;
	padding-bottom: 1.5rem;
	padding-left: 1rem;

	span {
		opacity: 0;
	}
}

.project__skills {
	position: absolute;
	background-color: rgba($color: $darker, $alpha: 0.9);
	box-shadow: 5px 5px 10px rgba($color: $darker, $alpha: 0.9);
	top: 0;
	left: 18px;
	width: calc(100% - 36px);
	padding: 12px 15px;
	z-index: -3;
	transform: translateY(calc(-100% - 10px)) translateZ(-10px);
	transition: transform 0.3s ease 0.2s;

	@include tabletBig {
		padding-left: 12px;
		padding-right: 12px;
		font-size: 14px;
		left: 15px;
		width: calc(100% - 30px);
	}

	&-p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		margin-bottom: 15px;
	}

	&-action {
		display: flex;
		align-items: baseline;
		margin-bottom: 5px;

		.nav-link {
			padding: 4px 12px;
			margin-left: 30px;
		}
	}

	&-title {
		color: $blue-main;
		text-transform: capitalize;
		font-family: $LouisGeorgeCaf;

		margin-right: auto;
	}

	&-items {
		font-family: $LouisGeorgeCaf;
		font-size: 14px;

		@include tabletBig {
			font-size: 12px;
		}

		span {
			display: inline-block;
			margin-right: 10px;
			margin-top: 10px;
			background-color: rgba($color: $black, $alpha: 0.6);
			padding: 5px 10px 3px;
		}
	}
}
