@import '../../styles/variables.scss';

.contact-menu {
	display: flex;

	// .contact-menu__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-right: 30px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: relative;
		background-color: $bg-darker;
		box-shadow: 0 1px 2px rgba(#000000, 0.5);
		transition: transform $transition-s;

		@include tabletBig {
			margin-right: 20px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			> .title {
				opacity: 1;
				visibility: visible;
				transform: translateX(-55%) rotate(-5deg);
			}

			svg {
				fill: $blue-main;
			}
		}

		&:active {
			transform: scale(0.8);
		}
	}

	// .contact-menu__icon
	&__icon {
		display: block;
		width: 26px;
	}

	svg {
		fill: $body-color;
		transition: fill 0.25s;
		transform: translateZ(0);
	}

	.title {
		font-family: $IndieFlower;
		color: $blue-main;
		white-space: nowrap;
		font-size: 21px;
		position: absolute;
		top: -35px;
		left: 50%;
		transform: translateX(-35%) rotate(0deg);
		opacity: 0;
		visibility: hidden;

		transition:
			visibility 0.25s,
			opacity 0.25s,
			transform 0.25s;
		will-change: transform, opacity, visibility;
	}
}
