@import '../../styles/variables.scss';

.contact-menu {
	@include tablet {
		margin-top: 55px;
		justify-content: center;
		padding: 0 4%;
	}

	a {
		margin-right: 30px;
		width: 50px;
		height: 50px;
		padding: 0;
		border-radius: 50%;
		position: relative;
		background: $darker;
		flex-shrink: 0;
		box-shadow: 0 0 11px rgba($color: $black, $alpha: 0.3);

		&:last-child {
			margin-right: 0;
		}

		@include mobile {
			margin-right: 25px;
		}
	}

	svg {
		fill: $snow;
		display: block;
		width: 20px;
	}

	.title {
		font-family: $indie;
		color: $blue-main;
		backface-visibility: hidden;
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translateX(-35%) rotate(0deg);
		letter-spacing: 3px;
		opacity: 0;
		transition: all 0.4s ease;
		margin-left: 5%;
		white-space: nowrap;
	}
	a:hover > .title {
		opacity: 1;
		transform: translateX(-55%) rotate(-5deg);
	}
}
