@import '../../styles/variables.scss';

.contact-menu {
	a {
		margin-right: 35px;
		width: 60px;
		height: 60px;
		padding: 0;
		border-radius: 50%;
		position: relative;
		background: $darker;
		flex-shrink: 0;
		box-shadow: 0 0 6px rgba($color: $darkest, $alpha: 1);

		@media screen and (min-width: 2000px) {
			width: calc(50px + 1vw);
			height: calc(50px + 1vw);
		}

		@include mobileSmall {
			margin-right: 22px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__icon {
		width: 24px;

		@media screen and (min-width: 2000px) {
			width: calc(24px + 0.3vw);
		}
	}

	svg {
		fill: $snow;
	}

	.title {
		font-family: $indie;
		color: $blue-main;
		backface-visibility: hidden;
		position: absolute;
		top: -27px;
		left: 50%;
		transform: translateX(-35%) rotate(0deg);
		letter-spacing: 3px;
		opacity: 0;
		transition: all 0.4s ease;
		margin-left: 5%;
		white-space: nowrap;
		font-size: 18px;
	}
	a:hover > .title {
		opacity: 1;
		transform: translateX(-55%) rotate(-5deg);
	}
}
