// Lang bar
$bg-active-lang: #4a3d66;
$lang-btn-width: 42px;
$lang-radius: 100px;

.language-bar {
	display: flex;
	justify-content: center;

	// .language-bar__inner
	&__inner {
		width: max-content;
		border-radius: 100px;
		padding: 1px;
		border: 1px solid #9c98aa;
		@include bg-gradient(170deg, #a9a1b8, #8e8e9f);
		box-shadow: var(--box-shd-main);
		color: #141414;
		overflow: hidden;
	}
}

.idea-lang {
	display: flex;
	font-family: $font-primary;
	margin: auto;
	font-size: 14px;
	border-radius: $lang-radius;
	position: relative;
	z-index: 12;
	gap: 2px;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		background-color: $bg-active-lang;
		border-radius: $lang-radius;
		/* Fallbacks */
		width: $lang-btn-width;
		transform: translateX(0);

		/* Dynamic with JS */
		width: var(--indicator-width, $lang-btn-width);
		transform: translateX(var(--indicator-x, 0));

		transition: transform $transition-s;
		will-change: transform;
	}

	// .idea-lang__btn
	&__btn {
		width: $lang-btn-width;
		padding: 14px 10px 13px;
		line-height: 1;
		font-weight: bold;
		transition:
			color $transition-s,
			transform $transition-s,
			background-color $transition-s;
		border-radius: $lang-radius;

		@include desktop-hover {
			&:not(.active) {
				background-color: rgba($bg-active-lang, 0.45);
			}
		}

		&:active {
			background-color: rgba($bg-active-lang, 0.45);
		}

		&.active {
			color: $body-color;
			pointer-events: none;
		}
	}
}
