:root {
	--fsz-nav: 19px;
	--ltr-sp-nav: 1px;

	@include tabletBig {
		--fsz-nav: 16px;
		--ltr-sp-nav: 0;
	}
}

$nav-top: 2px;

@mixin idea-back_hover {
	color: $light-color;

	svg {
		transform: translateX(-10px);

		@include tabletBig {
			transform: translateX(-6px);
		}
	}
}

.startup-nav__wrapper {
	will-change: transform;
}

// ROUTING FIX
.startup-actions {
	position: relative;
	z-index: 0;
	margin-top: 60px;

	@include tabletBig {
		margin-top: 50px;
	}

	@include tablet {
		margin-top: 28px;
	}

	&.is-visible {
		z-index: 12;
	}
}

// StartupNavigation
@mixin startup-nav__btn-hover {
	color: $light-color;
	text-shadow: 0 0 8px rgba($light-color, 0.45);
}

.application__nav {
	&.nav-active {
		// ### Debugging styles ### .idea-lang--dev-mode
		.idea-devMode {
			position: relative;
			height: 45px;

			.idea-lang {
				position: fixed;
				left: 50%;
				top: 55px;
				transform: translateX(-50%);
				z-index: 12;
			}
		}

		.startup-nav__container {
			position: fixed;
		}

		.startup-nav__wrapper {
			min-width: 100%;
			border-radius: 0;
			border-width: 0 0 1px 0;
			padding: $nav-top 40px 0;

			@include tabletBig {
				padding: $nav-top 0 0;
			}
		}

		.startup-nav__btn,
		.startup-nav__btn::before {
			border-radius: 0;
		}

		.wrapper .idea-back {
			position: fixed;
			border-color: transparent;
			box-shadow: none;

			&::before {
				opacity: 0;
				transition-delay: 0.2s;
			}
		}

		~ .page {
			.table-content__list {
				@include tabletBig {
					position: fixed;
					top: 46px;
				}
			}
		}
	}
}

// Back Navigation button
.idea-back {
	padding: 14px 40px 13px;
	border-radius: 100px;
	width: max-content;
	display: flex;
	align-items: center;
	gap: 12px;
	position: absolute;
	top: -$nav-top;
	z-index: 1;
	border: $bdr-main;
	box-shadow: var(--box-shd-main);
	overflow: hidden;
	transition:
		transform $transition-s,
		box-shadow $transition-l,
		border-color $transition-l;

	@include tabletBig {
		@include mob-nav-btns;
		padding: 10px 16px;
		margin: 0;
		top: unset;
		left: var(--startup-nav-posX);
		z-index: 10;

		span {
			display: none;
		}
	}

	@include desktop-hover {
		@include idea-back_hover;
	}

	&:active {
		@include idea-back_hover;
		transform: scale(0.8);
	}

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		@include bg-gradient($deg-l);
		position: absolute;
		inset: 0;
		z-index: -1;
		transition: opacity $transition-l;

		@include tabletBig {
			display: none;
		}
	}

	span,
	svg {
		transition: $transition-s;
	}

	svg {
		width: 18px;
		fill: currentColor;

		@include tabletBig {
			width: 24px;
		}
	}
}

// Navigation bar
.startup-nav {
	position: relative;
	z-index: 11;
	margin-top: 60px;
	padding-bottom: 130px;
	height: 52px;
	font-size: var(--fsz-nav);
	letter-spacing: var(--ltr-sp-nav);
	color: $nav-title;
	font-family: $LouisGeorgeCafBold;

	@include tabletBig {
		padding-bottom: 0;
	}

	@include tabletSmall {
		margin-top: 52px;
		margin-bottom: 16px;
	}

	// .startup-nav__container
	&__container {
		width: 100%;
		position: relative;
		top: -$nav-top;
		left: 0;
	}

	// .startup-nav__wrapper
	&__wrapper {
		@include bg-gradient($deg-x);
		overflow: hidden;
		width: 100%;
		max-width: max-content;
		min-width: 320px;
		margin: auto;
		text-align: center;
		border-radius: 100px;
		border: $bdr-main;
		box-shadow: var(--box-shd-main);
		transition:
			padding $transition-s,
			min-width $transition-l,
			border-radius $transition-l,
			box-shadow $transition-l;

		@include tabletBig {
			max-width: $section-width;
			width: calc(100% - 78px);
		}

		@include mobile {
			width: calc(100% - 28px);
		}
	}

	// .startup-nav__links
	&__links {
		overflow-y: hidden;
		overflow-x: auto;
	}

	// .startup-nav__inner
	&__inner {
		display: flex;
		justify-content: center;
		margin: auto;
		max-width: 1520px;
	}

	// .startup-nav__btn
	&__btn {
		padding: 14px 70px 13px;
		flex-shrink: 0;
		flex-grow: 1;
		border-radius: 100px;
		position: relative;
		z-index: 0;
		overflow: hidden;
		transition:
			color $transition-s,
			border-radius $transition-l;

		@include tabletBig {
			padding: 16px 14px 14px;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: -2;
			transform: translateX(-50%);
			background-color: rgba($blue-main, 0.86);
			border-radius: 10px;
			width: 0;
			height: 3px;
			overflow: hidden;
			transition: width $transition-l;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $blue-main;
			background: $transition-gradient;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: 100px;
			overflow: hidden;
			transform: scale(0, 1) translateY(100%);
			transition:
				transform $transition-l,
				border-radius $transition-l;
		}

		&.active {
			color: $light-color;
			text-transform: uppercase;
			text-shadow: 0 0 8px rgba(#000000, 0.6);

			&::before {
				transform: scale(1, 1) translateY(0);
			}
		}

		&.sub-active {
			color: $light-color;
			text-transform: uppercase;
			text-shadow: 0 0 6px rgba(#ffffff, 0.35);
			overflow: visible;

			&::after {
				width: 56px;

				@include tabletBig {
					width: 38px;
				}
			}

			@include desktop-hover {
				&::after {
					width: 100%;
				}
			}

			&:active::after {
				width: 100%;
			}
		}

		@include desktop-hover {
			@include startup-nav__btn-hover;
		}

		&:active {
			@include startup-nav__btn-hover;

			// span {
			// 	transform: translate(0, 08%) scale(0.8);
			// }
		}

		span {
			display: block;
			// transition: transform $transition-l;

			&::before {
				content: attr(data-text);
				text-transform: uppercase;
				display: block;
				width: 100%;
				height: 0;
				overflow: hidden;
				visibility: hidden;
				pointer-events: none;
			}
		}
	}

	> .wrapper ~ {
		.startup-nav__container .startup-nav__btn {
			flex-grow: 0;

			@include tabletBig {
				flex-grow: 1;
			}
		}
	}
}
