$toc-top: 12px;
$toc-hover-color: #fff;

@mixin toc-burger_hover {
	color: $toc-hover-color;

	mark span {
		border-color: $toc-hover-color;
	}
}

@mixin toc-item_hover {
	mark {
		color: #fff;
	}
}

.table-content {
	width: 100%;
	position: absolute;
	top: $toc-top;
	padding-bottom: $toc-top;
	background-color: $black;
	border-radius: 10px 10px 0 0;
	left: 0;
	transform: translateY(-100%);
	z-index: 0;
	transition: z-index 0s 0.16s;
	will-change: z-index;

	@include tabletBig {
		padding: 0;
		background: none;
		top: unset;
		left: unset;
		transform: none;
	}

	&.is-open {
		transition: z-index 0s;
		z-index: 20;

		.table-content__btn {
			color: $toc-hover-color;

			mark {
				@include burgerIconOpen;

				span {
					border-color: $toc-hover-color;
				}
			}
		}
	}

	h3 {
		text-transform: uppercase;
	}

	// .table-content__btn
	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		background-color: $black;
		box-shadow: 0 0 6px rgba($black, 1);
		border-radius: 10px 10px 0 0;
		font-family: $LouisGeorgeCaf;
		letter-spacing: 1.2px;
		font-size: 17px;
		font-weight: 600;
		gap: 22px;
		padding: 12px 20px;
		transition: 0.25s;
		color: $toc-title-color;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				@include toc-burger_hover;
			}
		}

		&:active {
			@include toc-burger_hover;
		}

		> h3 {
			margin-top: 1px;
		}

		@include tabletBig {
			border-radius: 6px;
			width: fit-content;
			position: fixed;
			bottom: 15px;
			right: 15px;
			z-index: 100;
			padding: 14px 16px;
			box-shadow: 0 0 4px #000000;
			background-color: #000000;
			// background: linear-gradient(130deg, #000000 0, #002840 95%);

			> h3 {
				display: none;
			}
		}

		mark {
			@include burgerIcon(24px, 16px, 2px);
			margin-left: 0;
			margin-bottom: 2px;

			span {
				border-color: $toc-title-color;
				transition: 0.25s;
			}

			@include tabletBig {
				margin-bottom: 0;
			}
		}
	}

	// .table-content__container
	&__container {
		overflow: hidden;
		height: 100%;
	}

	// .table-content__inner
	&__inner {
		height: 100%;
		overflow: auto;
		scrollbar-gutter: stable;
	}

	// .table-content__wrapper
	&__wrapper {
		padding-bottom: 30px;
		padding-top: 0;

		@include tabletBig {
			padding-top: 57px;
			padding-bottom: 25px;
		}
	}

	// .table-content__title
	&__title {
		display: none;

		@include tabletBig {
			padding: 28px 15px 12px;
			font-size: 18px;
			letter-spacing: 0.8px;
			font-family: $LouisGeorgeCafBold;
			text-align: center;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			background-color: #000000;
		}
	}

	// .table-content__list
	&__list {
		background-color: $black;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 4px 6px #000000;
		width: 100%;
		max-height: 70dvh;
		height: 0;
		position: absolute;
		right: 0;
		top: calc(100% - 2px);
		z-index: -1;
		overflow: hidden;
		transition: height 0.2s;
		will-change: height;
		background: linear-gradient(145deg, #000000 68%, #002840 100%);

		@include tabletBig {
			border-radius: 0 0 10px 10px;
			top: -55px;
			right: 50%;
			max-height: 80dvh;
			min-width: 290px;
			max-width: calc(100% - 85px);
			width: max-content;
			transform: translateX(50%);
		}

		@include mobile {
			top: -15px;
		}

		button {
			display: block;
			width: 100%;
			font-family: $Raleway;
			text-align: left;
			position: relative;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					@include toc-item_hover;
				}
			}

			&:active {
				@include toc-item_hover;
			}

			mark {
				text-overflow: ellipsis;
				overflow: hidden;
				position: relative;
				padding: 4px 42px;
				padding-right: 25px;
				letter-spacing: 0.6px;
				font-weight: bold;
				line-height: 1;

				@include tabletBig {
					padding: 5px 26px;
					padding-right: 20px;
				}

				&::before {
					content: '➤';
					font-size: 14px;
					display: none;
					align-items: center;
					justify-content: center;
					width: fit-content;
					height: 100%;
					position: absolute;
					left: 16px;
					top: 0;
					color: currentColor;

					@include tabletBig {
						left: 9px;
						font-size: 11px;
					}
				}

				&::after {
					content: attr(data-text);
					font-weight: bold;
					visibility: hidden;
					opacity: 0;
					height: 0;
					overflow: hidden;
					display: block;
				}
			}

			&.is-active {
				mark {
					color: #fff;
					font-weight: bold;

					&::before {
						display: flex;
					}
				}
			}

			&:first-of-type {
				.h1-toc-item {
					margin-top: 12px;
				}
			}

			.h1-toc-item {
				color: darken($h1-title-color, 5%);
				font-size: 15px;
				margin-top: 10px;

				@include tabletBig {
					font-size: 14px;
				}
			}

			.h2-toc-item {
				font-size: 14px;
				color: darken($h2-title-color, 15%);
				padding-left: 57px;

				@include tabletBig {
					font-size: 13px;
					padding-left: 38px;
				}
			}

			.h3-toc-item {
				font-size: 13px;
				color: darken($h3-title-color, 8%);
				padding-left: 72px;

				@include tabletBig {
					padding-left: 53px;
					font-size: 12px;
				}
			}
		}
	}
}
