$toc-top: 12px;
$toc-hover-color: #fff;

@mixin toc-burger_hover {
	color: $nav-btn-color;

	mark span {
		border-color: $nav-btn-color;
	}
}

@mixin toc-item_hover {
	mark {
		color: $toc-title-color;
	}
}

.table-content {
	width: 100%;
	position: absolute;
	top: $toc-top;
	padding-bottom: $toc-top;
	background-color: $black;
	border-radius: 10px 10px 0 0;
	left: 0;
	transform: translateY(-100%);
	z-index: 0;
	transition: z-index 0s 0.16s;
	will-change: z-index;

	@include tabletBig {
		padding: 0;
		background: none;
		top: unset;
		left: unset;
		transform: none;
	}

	&.is-open {
		transition: z-index 0s;
		z-index: 20;

		.table-content__btn {
			opacity: 0.4;

			mark {
				@include burgerIconOpen;
			}
		}
	}

	h3 {
		text-transform: uppercase;
	}

	// .table-content__btn
	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		background-color: $black;
		box-shadow: 0 0 6px rgba($black, 1);
		border-radius: 10px 10px 0 0;
		font-family: $LouisGeorgeCaf;
		letter-spacing: 1px;
		font-size: 17px;
		font-weight: 600;
		gap: 22px;
		padding: 12px 20px;
		transition: 0.25s;
		color: $toc-title-color;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				@include toc-burger_hover;
			}
		}

		&:active {
			@include toc-burger_hover;
		}

		> h3 {
			margin-top: 1px;
		}

		@include tabletBig {
			border-radius: 6px;
			width: fit-content;
			position: fixed;
			bottom: 10px;
			right: 15px;
			z-index: 100;
			padding: 14px 16px;
			box-shadow: 0 0 4px #000000;
			background-color: #000000;

			> h3 {
				display: none;
			}
		}

		mark {
			@include burgerIcon(24px, 16px, 2px);
			margin-left: 0;
			margin-bottom: 2px;

			span {
				border-color: $toc-title-color;
				transition: 0.25s;
			}

			@include tabletBig {
				margin-bottom: 0;
			}
		}
	}

	// .table-content__container
	&__container {
		overflow: hidden;
		height: 100%;

		@include tabletBig {
			padding-top: 60px;
		}
	}

	// .table-content__inner
	&__inner {
		height: 100%;
		overflow: auto;
		scrollbar-gutter: stable;
	}

	// .table-content__wrapper
	&__wrapper {
		padding-bottom: 30px;

		@include tabletBig {
			padding-bottom: 20px;
		}
	}

	// .table-content__title
	&__title {
		display: none;

		@include tabletBig {
			padding: 30px 15px 10px;
			font-size: 18px;
			letter-spacing: 0.35px;
			font-family: $LouisGeorgeCafBold;
			text-align: center;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			color: rgba($textGrey, 0.6);
		}
	}

	// .table-content__list
	&__list {
		background-color: $black;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 3px 6px #000000;
		width: 100%;
		max-height: 70dvh;
		height: 0;
		position: absolute;
		right: 0;
		top: calc(100% - 2px);
		z-index: -1;
		overflow: hidden;
		transition: height 0.2s;
		will-change: height;
		background: linear-gradient(150deg, #000000 40%, #002840 100%);

		@include tabletBig {
			box-shadow: 0 5px 15px #000000;
			border-radius: 0 0 10px 10px;
			top: 37px;
			right: 50%;
			max-height: 84dvh;
			min-width: 270px;
			max-width: calc(100% - 60px);
			width: max-content;
			transform: translateX(50%);
			background: linear-gradient(120deg, #000000 35%, #002840 100%);
		}

		@include tabletSmall {
			top: -22px;
		}

		button {
			display: block;
			width: 100%;
			font-family: $Raleway;
			text-align: left;
			position: relative;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					@include toc-item_hover;
				}
			}

			&:active {
				@include toc-item_hover;
			}

			mark {
				text-overflow: ellipsis;
				overflow: hidden;
				position: relative;
				padding: 5px 42px;
				padding-right: 25px;
				font-weight: bold;
				letter-spacing: 0.3px;
				line-height: 1;
				color: $textGrey;
				transition: padding 0.25s;

				@include tabletBig {
					padding: 5px 22px;
					padding-right: 20px;
				}

				&::before {
					content: '';
					display: none;
					height: 100%;
					border-left: 3px solid currentColor;
					position: absolute;
					top: 0;
					left: 0;

					@include tabletBig {
						font-size: 11px;
						border-width: 4px;
					}
				}
			}

			&.is-active {
				mark {
					padding-left: 25px;

					@include tabletBig {
						padding-left: 20px;
					}

					&::before {
						display: block;
					}
				}

				.h1-toc-item {
					color: darken($h1-title-color, 20%);
				}

				.h2-toc-item {
					color: darken($h2-title-color, 20%);
				}

				.h3-toc-item {
					color: darken($h3-title-color, 20%);
				}
			}

			.h1-toc-item {
				font-size: 16px;
				margin-top: 6px;
				margin-bottom: 2px;
				color: $nav-btn-color;

				@include tabletBig {
					font-size: 15px;
				}
			}

			.h2-toc-item {
				font-size: 14px;
				padding-left: 52px;
				color: rgba($textGrey, 0.85);

				@include tabletBig {
					font-size: 13px;
					padding-left: 32px;
				}
			}

			.h3-toc-item {
				font-size: 14px;
				padding-left: 65px;
				color: rgba($textGrey, 0.6);

				@include tabletBig {
					padding-left: 42px;
					font-size: 13px;
				}
			}
		}
	}
}

.toc-message {
	text-align: center;
	padding: 30px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #ff3e3e;
	font-size: 18px;

	span {
		display: block;
	}

	&__text {
		margin-top: 15px;
	}

	&__btn {
		margin: 20px 20px 0;
		text-transform: uppercase;
		padding: 14px 30px;
		border-radius: 10px;
		color: #000000;
		box-shadow: 0 0 6px #ff4141;
		background-color: #f95555;
		font-size: 19px;
	}
}

.toc-loading {
	padding: 30px 15px;

	.preloader {
		background-color: transparent;
		position: static;
		z-index: 10;

		// .preloader__spinner
		&__spinner {
			width: 35px;
			height: 35px;

			// .preloader__spinner-span:before
			&-span:before {
				height: 10px;
				background-color: $toc-title-color;
			}
		}
	}
}
