// CSS VARS
:root {
	--toc-pad: 46px;
	--toc-pad-h2: 65px;
	--toc-pad-h3: 85px;

	--active-toc-move: 25px;

	@include tabletBig {
		--toc-pad: 22px;
		--toc-pad-h2: 40px;
		--toc-pad-h3: 58px;

		--active-toc-move: 16px;
	}
}

.table-content {
	position: relative;
	box-shadow: var(--box-shd-main);
	border-radius: var(--startup-nav-rad) var(--startup-nav-rad) 0 0;
	z-index: 20;

	@include tabletBig {
		box-shadow: none;
	}

	&.is-open {
		.table-content__btn {
			h3,
			mark {
				opacity: 0.4;
			}

			@include tabletBig {
				opacity: 0.86;

				h3,
				mark {
					opacity: 1;
				}
			}

			mark {
				@include burgerIconOpen;
			}
		}
	}

	h3 {
		text-transform: uppercase;
		transition: transform $transition-s;
	}

	// .table-content__btn
	&__btn {
		width: 100%;
		display: flex;
		align-items: center;
		font-family: $LouisGeorgeCaf;
		letter-spacing: 1px;
		font-size: 17px;
		font-weight: 600;
		gap: 22px;
		padding: 13px 20px 11px;
		@include bg-gradient;
		color: $nav-title;
		border-radius: var(--startup-nav-rad) var(--startup-nav-rad) 0 0;
		border: $bdr-darkest;
		text-shadow: 0 1px 2px rgba(#000000, 0.5);
		border-bottom-width: 0;
		transition:
			color $transition-s,
			transform $transition-s;

		@include tabletBig {
			@include mob-nav-btns;
			width: max-content;
			padding: 14px 16px;
			right: var(--startup-nav-posX);
			z-index: 100;

			> h3 {
				display: none;
			}
		}

		@include desktop-hover {
			color: $light-color;
		}

		&:active {
			color: $light-color;

			@include tabletBig {
				transform: scale(0.8);
			}

			h3 {
				transform: scale(0.9);
			}
		}

		mark {
			@include burgerIcon(24px, 16px, 2px, currentColor);

			margin-left: 0;
			margin-bottom: 2px;

			@include tabletBig {
				margin-bottom: 0;
			}
		}
	}

	// .table-content__container
	&__container {
		overflow: hidden;
		height: 100%;

		@include tabletBig {
			padding-top: var(--toc-padding-top);
		}
	}

	// .table-content__inner
	&__inner {
		height: 100%;
		overflow: auto;
	}

	// .table-content__wrapper
	&__wrapper {
		padding: 26px 0 30px;

		@include tabletBig {
			padding: 0 0 20px;
		}
	}

	// .table-content__title
	&__title {
		display: none;

		@include tabletBig {
			padding-top: 30px;
			font-size: 18px;
			letter-spacing: 1.2px;
			font-family: $LouisGeorgeCafBold;
			text-align: center;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			color: rgba($subtitle-color, 0.66);
		}
	}

	// .table-content__list
	&__list {
		border-radius: 0 0 10px 10px;
		width: 100%;
		max-height: 70dvh;
		height: 0;
		position: absolute;
		right: 0;
		top: 100%;
		background-color: $bg-darkest;
		border: $bdr-darkest;
		border-top-width: 0;
		box-shadow: var(--box-shd-main);
		overflow: hidden;
		z-index: -1;
		transition:
			height $transition-s,
			border $transition-s;

		@include tabletBig {
			top: 18px;
			right: 50%;
			max-height: 84dvh;
			min-width: 280px;
			max-width: calc(100% - 50px);
			width: max-content;
			transform: translateX(50%);
		}

		@include tabletSmall {
			top: -7px;
		}

		button {
			position: relative;
			display: block;
			width: 100%;
			padding: 7px var(--toc-pad) 3px;
			padding-right: 20px;
			text-align: left;
			font-family: $font-raleway;
			font-weight: 600;
			letter-spacing: 0.8px;
			line-height: 1.13;
			color: $toc-color;

			@include desktop-hover {
				color: $light-color;
			}

			&:active {
				color: $light-color;
			}

			&::before {
				content: '';
				display: none;
				height: 100%;
				border-left: 3px solid currentColor;
				position: absolute;
				top: 0;
				left: 0;

				@include tabletBig {
					font-size: 11px;
					border-width: 4px;
				}
			}

			span {
				display: block;
				transition: transform $transition-s;
			}

			&.is-active {
				&::before {
					display: block;
				}

				&.h1-toc-item {
					color: darken($h1-color, 7%);

					span {
						transform: translateX(calc(var(--active-toc-move) - var(--toc-pad)));
					}
				}

				&.h2-toc-item {
					color: darken($h2-color, 16%);

					span {
						transform: translateX(calc(var(--active-toc-move) - var(--toc-pad-h2)));
					}
				}

				&.h3-toc-item {
					color: darken($h3-color, 12%);

					span {
						transform: translateX(calc(var(--active-toc-move) - var(--toc-pad-h3)));
					}
				}
			}
		}

		.h2-toc-item,
		.h3-toc-item {
			font-size: 15px;

			@include tabletBig {
				font-size: 14px;
			}
		}

		.h1-toc-item {
			font-size: 16px;

			@include tabletBig {
				font-size: 15px;
			}

			&:not(:first-of-type) {
				margin-top: 12px;
			}

			+ .h3-toc-item {
				padding-left: var(--toc-pad-h2);

				&.is-active {
					span {
						transform: translateX(calc(var(--active-toc-move) - var(--toc-pad-h2)));
					}
				}
			}
		}

		.h2-toc-item {
			padding-left: var(--toc-pad-h2);
			color: rgba($toc-color, 0.8);
		}

		.h3-toc-item {
			padding-left: var(--toc-pad-h3);
			color: rgba($toc-color, 0.56);
		}
	}
}

// ERROR RENDER EMPTY TOC
.toc-message {
	text-align: center;
	padding: 15px 25px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #df3535;
	font-size: 18px;

	span {
		display: block;
	}

	&__text {
		margin-top: 6px;
	}

	&__btn {
		margin: 27px auto 0;
		padding: 14px 30px;
		border-radius: 10px;
		color: $text-color;
		background-color: #d62222;
		box-shadow:
			inset 10px 10px 30px #850606,
			inset -10px -10px 30px #6a1010;
		white-space: nowrap;
		cursor: pointer;
		width: 100%;
		max-width: 260px;
		transition: 0.25s;

		&:hover {
			background-color: #000000;
			box-shadow: 0 0 20px rgba(#d62222, 0.8);
			color: #df3535;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}

.toc-loading {
	padding: 30px 15px;

	.preloader {
		background-color: transparent;
		position: static;

		// .preloader__spinner
		&__spinner {
			width: 35px;
			height: 35px;

			// .preloader__spinner-span:before
			&-span:before {
				height: 10px;
			}
		}
	}
}
